/* table style */
table.afternoon
{
	border:solid 1px #dbd795;
}

/* header cell style */
.afternoon th
{
    color:#613913;
	border-right-color:#dbd795;
	border-bottom-color:#dbd795;
    background:url(../img/gv-afternoon.gif) repeat-x;
}  

/* cell styles */
.afternoon td
{
    border-bottom-color:#e5e4cf;	
    border-right-color:#e5e4cf;	
}

/* mouseover row style */
.afternoon .row-over 
{ 
	background-color:#e5e4cf;
}

/* mouseover row style */
.afternoon .row-select 
{ 
	background-color:#dbd795;
}

