/* table style */
table.busstop
{
	border:solid 1px #abb079;
}

/* header cell style */
.busstop th
{
    color:#696e2f;
	border-right-color:#abb079;
	border-bottom-color:#abb079;
    background:#e1e5b2 url(../img/gv-busstop.gif) repeat-x;
}  

/* cell styles */
.busstop td
{
    border-bottom-color:#f0f2da;	
    border-right-color:#f0f2da;	
}

/* mouseover row style */
.busstop .row-over 
{ 
	background-color:#f0f2da;
}

/* mouse select row style */
.busstop .row-select 
{ 
	color:#fff;
	background-color:#abb079;
}
