.sprite_bg {
    background-color: #777;
}
.cal, .cal .m, .cal .d {
    background: url(../img/cal-sprite64.png) no-repeat 0 0;
}
.cal {
    display: inline-block;
    height: 64px;
    position: relative;
    width: 64px;
}
.cal .m {
    position: absolute;
    height: 10px;
    left: 7px;
    top: 17px;
    width: 17px;
    text-indent: -9999em;
}
.m1 .m  { background-position: -62px 0; }
.m2 .m  { background-position: -84px 0; }
.m3 .m  { background-position: -105px 0; }
.m4 .m  { background-position: -126px 0; }
.m5 .m  { background-position: -147px 0; }
.m6 .m  { background-position: -168px 0; }
.m7 .m  { background-position: -188px 0; }
.m8 .m  { background-position: -211px 0; }
.m9 .m  { background-position: -231px 0; }
.m10 .m { background-position: -253px 0; }
.m11 .m { background-position: -274px 0; }
.m12 .m { background-position: -295px 0; }
.cal .d {
    position: absolute;
    height: 25px;
    left: 17px;
    top: 25px;
    width: 32px;
    text-indent: -9999em;
}
.d1 .d, .d2 .d, .d3 .d, .d4 .d, .d5 .d, .d6 .d, .d7 .d, .d8 .d, .d9 .d {
    left: 24px;
    width: 17px;
}
.d1 .d  { background-position: -63px -9px; }
.d2 .d  { background-position: -80px -9px; }
.d3 .d  { background-position: -97px -9px; }
.d4 .d  { background-position: -115px -9px; }
.d5 .d  { background-position: -131px -9px; }
.d6 .d  { background-position: -147px -9px; }
.d7 .d  { background-position: -165px -9px; }
.d8 .d  { background-position: -182px -9px; }
.d9 .d  { background-position: -199px -9px; }
.d10 .d { background-position: -216px -9px; }
.d11 .d { background-position: -245px -9px; }
.d12 .d { background-position: -275px -9px; }
.d13 .d { background-position: -306px -9px; }
.d14 .d { background-position: -337px -9px; }
.d15 .d { background-position: -368px -9px; }
.d16 .d { background-position: -399px -9px; }
.d17 .d { background-position: -429px -9px; }
.d18 .d { background-position: -459px -9px; }
.d19 .d { background-position: -63px -38px; }
.d20 .d { background-position: -95px -37px; }
.d21 .d { background-position: -126px -37px; }
.d22 .d { background-position: -159px -37px; }
.d23 .d { background-position: -192px -37px; }
.d24 .d { background-position: -224px -37px; }
.d25 .d { background-position: -257px -37px; }
.d26 .d { background-position: -288px -37px; }
.d27 .d { background-position: -320px -37px; }
.d28 .d { background-position: -352px -37px; }
.d29 .d { background-position: -384px -37px; }
.d30 .d { background-position: -416px -37px; }
.d31 .d { background-position: -447px -37px; }