INSERT INTO cy_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('CommentProvider','intensedebate','Settings', 100);

INSERT INTO cy_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('IntenseDebateAccountId','','APIKeys', 100);

INSERT INTO cy_SiteSettingsExDef(KeyName,DefaultValue,GroupName,SortOrder) 
VALUES('DisqusSiteShortName','','APIKeys', 100);

ALTER TABLE cy_Users ADD COLUMN `Pwd` text;
ALTER TABLE cy_Users ADD COLUMN `MustChangePwd` int(11);
ALTER TABLE cy_Pages ADD COLUMN `EnableComments` int(11);

UPDATE cy_Pages 
SET EnableComments = 0;

UPDATE cy_Users 
SET MustChangePwd = 0, Pwd = Password;

ALTER TABLE cy_Users DROP COLUMN Password;

