CREATE INDEX IX_cy_ModuleDefSetDefId ON cy_ModuleDefinitionSettings(`ModuleDefID`);
CREATE INDEX IX_cy_ModuleDefSetSetName ON cy_ModuleDefinitionSettings(`SettingName`);
CREATE INDEX IX_cy_ModuleSetModId ON cy_ModuleSettings(`ModuleID`);
CREATE INDEX IX_cy_ModuleSetSetName ON cy_ModuleSettings(`SettingName`);

