BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 12px "ו"; BACKGROUND: #fff; COLOR: #666; PADDING-TOP: 0px
}
BODY > DIV {
	TEXT-ALIGN: center; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
DIV {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
TABLE {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
TEXTAREA {
	FONT-SIZE: 12px
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
H2 {
	TEXT-ALIGN: right
}
H2 SPAN {
	FLOAT: left; FONT-WEIGHT: bold
}
.clear {
	ZOOM: 1
}
.area {
	ZOOM: 1
}
.pp {
	ZOOM: 1
}
.pt {
	ZOOM: 1
}
.show {
	DISPLAY: block
}
.hidden {
	DISPLAY: none
}
.pp {
	MARGIN: 0px auto; WIDTH: 100%
}
.pt {
	MARGIN: 0px auto; WIDTH: 100%
}
.list12 UL {
	MARGIN: 0px auto; WIDTH: 100%
}
.list14 UL {
	MARGIN: 0px auto; WIDTH: 100%
}
.area {
	MARGIN: 0px auto; WIDTH: 100%
}
.pp:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.pt:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.area:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.clear:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.pp {
	TEXT-ALIGN: center
}
.pp IMG {
	MARGIN: 0px auto; DISPLAY: block
}
.pp SPAN {
	DISPLAY: block
}
.pt {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; COLOR: #666
}
.pt DIV {
	MARGIN: 0px 10px 0px 0px; FLOAT: left
}
.pt P {
	CLEAR: none
}
.list14 LI {
	TEXT-ALIGN: left; PADDING-BOTTOM: 3px; LINE-HEIGHT: 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 3px
}
.list12 LI {
	TEXT-ALIGN: left; PADDING-BOTTOM: 3px; LINE-HEIGHT: 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 3px
}
.list14 LI {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; PADDING-TOP: 4px
}
.left {
	DISPLAY: inline; FLOAT: left
}
.center {
	DISPLAY: inline; FLOAT: left
}
.l {
	DISPLAY: inline; FLOAT: left
}
.right {
	DISPLAY: inline; FLOAT: left
}
.r {
	DISPLAY: inline; FLOAT: left
}
.right {
	FLOAT: right
}
.r {
	FLOAT: right
}
.fontArial {
	FONT-FAMILY: "Arial"
}
.b {
	FONT-WEIGHT: bold
}
.blank5 {
	HEIGHT: 5px; FONT-SIZE: 1px
}
.blank8 {
	HEIGHT: 5px; FONT-SIZE: 1px
}
.blank8 {
	HEIGHT: 8px
}
.more {
	TEXT-ALIGN: right
}
.area {
	WIDTH: 950px
}
LI.nodot {
	PADDING-LEFT: 0px !important; BACKGROUND: none transparent scroll repeat 0% 0%
}
#indexNav {
	TEXT-ALIGN: left; MARGIN: 4px auto; BACKGROUND: #fff; HEIGHT: 22px; COLOR: #000
}
#channelNav {
	TEXT-ALIGN: left; MARGIN: 4px auto; BACKGROUND: #fff; HEIGHT: 22px; COLOR: #000
}
#channelNav {
	BACKGROUND: #efebef
}
#indexNav UL {
	PADDING-RIGHT: 6px
}
#channelNav UL {
	PADDING-RIGHT: 6px
}
#indexNav LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; MARGIN: 5px auto 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 2px; FLOAT: left; PADDING-TOP: 0px
}
#channelNav LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; MARGIN: 5px auto 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 2px; FLOAT: left; PADDING-TOP: 0px
}
#indexNav .end {
	PADDING-RIGHT: 0px
}
#channelNav .end {
	PADDING-RIGHT: 0px
}
#indexNav .red A {
	COLOR: #f00
}
#channelNav .red A {
	COLOR: #f00
}
#indexNav A {
	COLOR: #000
}
#channelNav A {
	COLOR: #000
}
#foot {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 22px; MARGIN: 5px auto 0px; PADDING-LEFT: 0px; WIDTH: 950px; PADDING-RIGHT: 0px; COLOR: #333; BORDER-TOP: #333 1px solid; PADDING-TOP: 5px
}
