CREATE NONCLUSTERED INDEX [IX_cy_SavedQName] ON [dbo].[cy_SavedQuery] 
(
	[Name] ASC
) ON [PRIMARY]
GO




SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[cy_ModuleSettings_SyncDefinitions]

AS

UPDATE cy_ModuleSettings
SET ControlSrc = (SELECT TOP 1 mds.ControlSrc
				FROM cy_ModuleDefinitionSettings mds
				WHERE mds.ModuleDefId IN (SELECT ModuleDefId
										FROM cy_Modules m
										WHERE m.ModuleID = cy_ModuleSettings.ModuleID)
				AND mds.SettingName = cy_ModuleSettings.SettingName
				)

UPDATE cy_ModuleSettings
SET ControlType = (SELECT TOP 1 mds.ControlType
				FROM cy_ModuleDefinitionSettings mds
				WHERE mds.ModuleDefId IN (SELECT ModuleDefId
										FROM cy_Modules m
										WHERE m.ModuleID = cy_ModuleSettings.ModuleID)
				AND mds.SettingName = cy_ModuleSettings.SettingName
				)

UPDATE cy_ModuleSettings
SET SortOrder = COALESCE((SELECT TOP 1 mds.SortOrder
				FROM cy_ModuleDefinitionSettings mds
				WHERE mds.ModuleDefId IN (SELECT ModuleDefId
										FROM cy_Modules m
										WHERE m.ModuleID = cy_ModuleSettings.ModuleID)
				AND mds.SettingName = cy_ModuleSettings.SettingName
				),9000)

UPDATE ms
SET ms.RegexValidationExpression = mds.RegexValidationExpression
FROM cy_ModuleSettings ms
JOIN cy_Modules m
ON ms.ModuleID = m.ModuleID
JOIN cy_ModuleDefinitionSettings mds
ON ms.SettingName = mds.SettingName
AND m.ModuleDefId = mds.ModuleDefId


UPDATE cy_ModuleSettings
SET HelpKey = (SELECT TOP 1 mds.HelpKey
				FROM cy_ModuleDefinitionSettings mds
				WHERE mds.ModuleDefId IN (SELECT ModuleDefId
										FROM cy_Modules m
										WHERE m.ModuleID = cy_ModuleSettings.ModuleID)
				AND mds.SettingName = cy_ModuleSettings.SettingName
				)


GO





