SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[cy_ModuleSettings_SyncDefinitions]

AS


UPDATE ms
SET ms.RegexValidationExpression = mds.RegexValidationExpression,
ms.ControlSrc = mds.ControlSrc,
ms.ControlType = mds.ControlType,
ms.SortOrder = mds.SortOrder,
ms.HelpKey = mds.HelpKey
FROM cy_ModuleSettings ms
JOIN cy_Modules m
ON ms.ModuleID = m.ModuleID
JOIN cy_ModuleDefinitionSettings mds
ON ms.SettingName = mds.SettingName
AND m.ModuleDefId = mds.ModuleDefId

GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[cy_Pages_SelectChildPages]

/*
Author:				Joe Audette
Created:			2005-02-20
Last Modified:		2010-02-10

*/

@SiteID int,
@ParentID		int


AS


SELECT	*

FROM		cy_Pages

WHERE	ParentID = @ParentID
		AND SiteID = @SiteID

ORDER BY PageOrder

GO

