INSERT INTO [dbo].[cy_SiteSettingsExDef]([KeyName],[DefaultValue],[GroupName],[SortOrder]) 
VALUES('RolesThatCanCreateRootPages','Content Administrators;Content Publishers;','Admin', 100)



SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO



ALTER PROCEDURE [dbo].[cy_Sites_Delete]

/*
Author:   			Joe Audette
Created: 			2005-03-07
Last Modified: 		2008-11-12

*/

@SiteID int

AS


DELETE FROM cy_WebParts WHERE SiteID = @SiteID

DELETE FROM cy_PageModules
WHERE PageID IN (SELECT PageID FROM cy_Pages WHERE SiteID = @SiteID)

DELETE FROM cy_ModuleSettings
WHERE ModuleID IN (SELECT ModuleID FROM cy_Modules WHERE SiteID = @SiteID)


DELETE FROM cy_Modules WHERE SiteID = @SiteID

DELETE FROM cy_SiteModuleDefinitions WHERE SiteID = @SiteID


DELETE FROM cy_UserProperties
WHERE UserGuid IN (SELECT UserGuid FROM cy_Users WHERE SiteID = @SiteID)

DELETE FROM cy_UserRoles
WHERE UserID IN (SELECT UserID FROM cy_Users WHERE SiteID = @SiteID)

DELETE FROM cy_UserLocation 
WHERE UserGuid IN (SELECT UserGuid FROM cy_Users WHERE SiteID = @SiteID)

DELETE FROM cy_FriendlyUrls WHERE SiteID = @SiteID

DELETE FROM cy_UserPages WHERE SiteID = @SiteID

DELETE FROM cy_Users WHERE SiteID = @SiteID

DELETE FROM cy_Pages WHERE SiteID = @SiteID

DELETE FROM cy_Roles WHERE SiteID = @SiteID

DELETE FROM cy_SiteHosts WHERE SiteID = @SiteID

DELETE FROM cy_SiteSettingsEx WHERE SiteID = @SiteID

DELETE FROM cy_SitePersonalizationAllUsers
WHERE PathID IN (SELECT PathID FROM cy_SitePaths WHERE SiteID = @SiteID)

DELETE FROM cy_SitePersonalizationPerUser
WHERE PathID IN (SELECT PathID FROM cy_SitePaths WHERE SiteID = @SiteID)

DELETE FROM cy_SitePaths WHERE SiteID = @SiteID

DELETE FROM cy_SiteFolders
WHERE SiteGuid IN (SELECT SiteGuid FROM cy_Sites WHERE SiteID = @SiteID)

DELETE FROM cy_AuthorizeNetLog
WHERE SiteGuid IN (SELECT SiteGuid FROM cy_Sites WHERE SiteID = @SiteID)

DELETE FROM cy_GoogleCheckoutLog
WHERE SiteGuid IN (SELECT SiteGuid FROM cy_Sites WHERE SiteID = @SiteID)

DELETE FROM cy_LetterSendLog
WHERE LetterGuid IN (SELECT LetterGuid FROM cy_Letter
					WHERE LetterInfoGuid IN (SELECT LetterInfoGuid 
						FROM cy_LetterInfo
						WHERE SiteGuid IN (SELECT SiteGuid FROM cy_Sites WHERE SiteID = @SiteID)))

DELETE FROM cy_LetterSubscribeHx
WHERE LetterInfoGuid IN (SELECT LetterInfoGuid 
						FROM cy_LetterInfo
						WHERE SiteGuid IN (SELECT SiteGuid FROM cy_Sites WHERE SiteID = @SiteID))

DELETE FROM cy_LetterSubscribe
WHERE LetterInfoGuid IN (SELECT LetterInfoGuid 
						FROM cy_LetterInfo
						WHERE SiteGuid IN (SELECT SiteGuid FROM cy_Sites WHERE SiteID = @SiteID))



DELETE FROM cy_Letter
WHERE LetterInfoGuid IN (SELECT LetterInfoGuid 
						FROM cy_LetterInfo
						WHERE SiteGuid IN (SELECT SiteGuid FROM cy_Sites WHERE SiteID = @SiteID))

DELETE FROM cy_LetterHtmlTemplate
WHERE SiteGuid IN (SELECT SiteGuid FROM cy_Sites WHERE SiteID = @SiteID)

DELETE FROM cy_LetterInfo
WHERE SiteGuid IN (SELECT SiteGuid FROM cy_Sites WHERE SiteID = @SiteID)

DELETE FROM cy_PayPalLog
WHERE SiteGuid IN (SELECT SiteGuid FROM cy_Sites WHERE SiteID = @SiteID)

DELETE FROM cy_RedirectList
WHERE SiteGuid IN (SELECT SiteGuid FROM cy_Sites WHERE SiteID = @SiteID)

DELETE FROM cy_TaskQueue
WHERE SiteGuid IN (SELECT SiteGuid FROM cy_Sites WHERE SiteID = @SiteID)

DELETE FROM cy_TaxClass
WHERE SiteGuid IN (SELECT SiteGuid FROM cy_Sites WHERE SiteID = @SiteID)

DELETE FROM cy_TaxRateHistory
WHERE SiteGuid IN (SELECT SiteGuid FROM cy_Sites WHERE SiteID = @SiteID)

DELETE FROM cy_TaxRate
WHERE SiteGuid IN (SELECT SiteGuid FROM cy_Sites WHERE SiteID = @SiteID)



DELETE FROM [dbo].[cy_Sites]
WHERE
	[SiteID] = @SiteID
   			

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[cy_EmailSendLog_DeleteBySite]

/*
Author:   			Joe Audette
Created: 			2009-03-01
Last Modified: 		2009-03-01
*/

@SiteGuid uniqueidentifier

AS

DELETE FROM [dbo].[cy_EmailSendLog]
WHERE
	[SiteGuid] = @SiteGuid


GO


SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[cy_EmailSendLog_Delete]

/*
Author:   			Joe Audette
Created: 			2009-3-1
Last Modified: 		2009-3-1
*/

@Guid uniqueidentifier

AS

DELETE FROM [dbo].[cy_EmailSendLog]
WHERE
	[Guid] = @Guid

GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[cy_EmailSendLog_DeleteByModule]

/*
Author:   			Joe Audette
Created: 			2009-03-01
Last Modified: 		2009-03-01
*/

@ModuleGuid uniqueidentifier

AS

DELETE FROM [dbo].[cy_EmailSendLog]
WHERE
	[ModuleGuid] = @ModuleGuid


GO

