CREATE NONCLUSTERED INDEX [IX_cy_ModulesDefId] ON [dbo].[cy_Modules] 
(
	[ModuleDefID] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_cy_ModulesSiteId] ON [dbo].[cy_Modules] 
(
	[SiteID] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_cy_ModulesSiteGuid] ON [dbo].[cy_Modules] 
(
	[SiteGuid] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_cy_ModulesFeatGuid] ON [dbo].[cy_Modules] 
(
	[FeatureGuid] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_cy_ModuleDefSetDefId] ON [dbo].[cy_ModuleDefinitionSettings] 
(
	[ModuleDefID] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_cy_ModuleDefSetSetName] ON [dbo].[cy_ModuleDefinitionSettings] 
(
	[SettingName] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_cy_ModuleSetModId] ON [dbo].[cy_ModuleSettings] 
(
	[ModuleID] ASC
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_cy_ModuleSetSetName] ON [dbo].[cy_ModuleSettings] 
(
	[SettingName] ASC
) ON [PRIMARY]
GO



