SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[cy_Users_GetUserRoles]



@SiteID	int,
@UserID       	int

AS

SELECT  
    		cy_Roles.RoleName,
    		cy_Roles.DisplayName,
    		cy_Roles.RoleID

FROM		 cy_UserRoles
  
INNER JOIN 	cy_Users 
ON 		cy_UserRoles.UserID = cy_Users.UserID

INNER JOIN 	cy_Roles 
ON 		cy_UserRoles.RoleID = cy_Roles.RoleID


WHERE   	cy_Users.SiteID = @SiteID
		AND cy_UserRoles.UserID = @UserID

GO

