*{ padding:0; margin:0}
body{ background:url(../images/pic0.jpg) repeat-x top #E6E6E6; }
a{ color:#fff}
a:hover{ color:#fff;text-decoration:underline;}
.block10{ height:10px;}
/****/
#topNav{  height:27px; padding-top:3px; }
#topNav { color:#fff; line-height:24px; }
.login, .psd{float:left; width:129px; padding-left:4px; height:16px; padding:3px 1px 1px 18px; border:1px solid #C7C7C7; margin-right:5px; }
.login{background:url(../images/user.gif) no-repeat left center #fff;}
.psd{background:url(../images/psd.gif) no-repeat left center #fff;}
.loginBtn{float:left; width:53px; height:20px; background:url(../images/r1btn.gif) top; cursor:pointer; border:0; line-height:20px; margin-top:2px; color:#fff}
.loginBtnM{background:url(../images/r1btn.gif) bottom;}
#topNav .left span{ display:block; float:left; vertical-align:middle; width:auto; margin-left:10px;  height:20px;}
#contentC .cut11 a:hover{ text-decoration:underline;}

/****/
#match{ width:auto; height:87px;  _margin-bottom:-5px;}
.Mmore{ position:absolute; right:320px; top:17px; _top:21px}
#match { width:950px; height:66px; padding:12px; 0px 8px 0px; _padding-top:17px; position:relative }
#match  .right{ width:783px; height:66px; background:url(../images/pubPic.png) 0 0 no-repeat;}
#match  .right ul{ padding-left:32px; width:751px; height:22px; }
#match  .right ul li{ float:left; width:60px; height:22px; line-height:22px; color:#fff}
#match  .right ul li a{ display:block; width:100%; height:100%;}
#match  .right ul li a:hover,#match .area .right ul li a.on{background:url(../images/skbg.gif) center;}
#match  .right ul li.sk{ width:40px; background:url(../images/sk.gif) no-repeat right center;}
#match  .right ul li.more a:hover{ width:48px; background:none;}
#match  .right ul li.more { width:48px; background:none}
#match  .right ul li.hover {  background:url(../images/skbg.gif) center; text-decoration:none;}

/****/
.skMsg{ width:733px; height:32px; padding:6px 32px 6px 18px;}
.skMsg .l,.skMsg .r{ width:26px; height:23px; padding-top:5px;}
.skMsg .l a,.skMsg .r a{ display:block; width:26px; height:17px;}
.skMsg .l a:hover,.skMsg .r a:hover{ width:26px; height:17px;}
.skMsg .l a{ background:url(../images/sk_l.jpg) top;}
.skMsg .l a.noNav{ width:26px; height:17px; background:url(../images/btnL.gif)}
.skMsg .r a.noNav{ width:26px; height:17px; background:url(../images/btnR.gif)}
.skMsg .l a:hover{ background:url(../images/sk_l.jpg) bottom;}
.skMsg .l a.noNav:hover{background:url(../images/btnL.gif);}
.skMsg .r a{ background:url(../images/sk_r.jpg) top;}
.skMsg .r a:hover{ background:url(../images/sk_r.jpg) bottom;}
.skMsg .r a.noNav:hover{background:url(../images/btnR.gif);}
.skMsg .r a{ background:url(../images/sk_r.jpg) top;}
.skMsg .c{width:675px; height:32px; float:left;overflow:hidden; position:relative;}
.skMsg .c .team{ float:left; width:130px; height:32px; padding-right:5px; background:url(../images/teambg.jpg) right no-repeat;}
.skMsg .c .team span.date{ display:block; width:130px; height:16px; color:#F0BEBD}
.skMsg .c .team span.score{ display:block; width:130px; height:16px;  color:#fff; overflow:hidden}
.skMsg .slider{position:relative;width:2000px;}

/****/
#nav{ margin:0 auto; padding:0px; height:37px;}
#nav  ul li{ float:left; font-size:14px; height:34px; border-right:1px solid #A90101; line-height:34px; _line-height:37px; overflow:hidden;}
#nav  ul li.none{ border:0px;}
#nav  ul li a{ padding-left:32px; padding-right:32px; }
#nav  ul li a.on{display:block; font-weight:bold;  background:#EB6969}
/****/
#footer{  height:80px; padding-top:20px; margin-top:10px; background:#414141}
#footer .area p{ height:24px; line-height:24px; color:#fff}

/****/
.martop10{ margin-top:10px;_margin-top:5px;}
.marbtm10{ margin-bottom:10px; _margin-bottom:3px;}


/**右侧通用**/
.adCut01{ width:150px; height:400px; margin-bottom:10px;}



/**体育游戏**/
.games{ width:150px; height:auto; margin-top:10px; margin-bottom:10px; border-bottom:10px solid #CB0003; background:#CB0003}
.games h2{ float:left; width:130px; padding-left:10px; padding-right:10px; font-weight:bold; height:32px; background:url(../images/pubPic.png) no-repeat -231px -72px; color:#fff; text-align:left; line-height:24px}
.games h2 span.r,.survey h2 span.r{ font-weight:normal;}
.games ul { margin:0 auto; width:118px; height:auto; padding:6px; background:#fff; padding-top:0px; padding-bottom:10px; }
.gameTitle{ clear:both; margin:0 auto; width:110px; text-align:left; height:14px; line-height:14px; padding-top:12px; font-weight:bold; color:#323232;border:0px; }
.gamesCont{ margin:0 auto; width:107px; height:44px; border:1px solid #BC0000;}
.games li .l{ width:60px; height:44px; border-right:1px solid #BC0000}
.games .r a{ display:block; width:47px; height:44px; border:0; background:url(../images/playBtn.jpg) bottom;}
.games .r a:hover{ display:block;  width:47px; height:44px; border:0; background:url(../images/playBtn.jpg) top;}
.games h2 span.r a,.games h2 span.r a:hover{ height:18px; background:none; color:#fff; overflow:hidden; text-align:right;}






/**最热视频**/
.hotDiv{ width:130px; height:auto; margin-bottom:10px; border:10px solid #CB0003; color:#fff}
.hotDiv a,.hotDiv a:hover{ color:#fff}
.hotDiv h2{ display:block; height:20px; background:#CB0003}
.hotDiv h2 .l{ font-weight:bold;}
.hotDiv h2 .r{float:right; text-align:right; font-weight:normal;}
.hotDiv ul{ width:130px; background:#fff; padding-top:10px; padding-bottom:3px;}
.hotDiv ul li{ margin-bottom:10px; position:relative;}
.hotDiv ul li p{ margin:0 auto; width:110px; line-height:16px; text-align:left; font-size:12px}
.hotDiv ul li a{ color:#333}
.hotDiv ul li a:hover{ color:#CB0003}
.hotDiv ul li .play{ position:absolute; top:57px; left:13px; _left:3px; border:0}

/**体育调查**/
.survey{ width:150px; height:auto; margin-top:10px; margin-bottom:10px; border-bottom:10px solid #CB0003; background:#CB0003}
.survey h2{ float:left; width:130px; padding-left:10px; padding-right:10px; font-weight:bold; height:32px; background:url(../images/pubPic.png) no-repeat -383px -72px; color:#fff; text-align:left; line-height:24px; margin-bottom:5px;}
.survey ul { margin:0 auto; width:118px; height:auto; padding:6px; background:#fff;}
.survey ul h3{ text-align:left; color:#000; line-height:20px; }
.survey ul p{ line-height:24px;  }
.survey ul p.more,.survey p.more a{ text-align:right; color:#000}
.survey p.more a:hover{  color:#cb0003}
.survey ul p .surdio{float:left; width:18px; height:18px; vertical-align:middle; text-align:left;}
.survey ul p span.surtxt{ display:block; float:left; width:96px; padding-left:2px; line-height:20px;  vertical-align:middle; text-align:left; }
.surbtn {float:left; width:37px; cursor:pointer; height:19px; background:url(../images/pubPic.png) no-repeat -9px -91px; border:0px; line-height:18px; color:#fff }
.surbtnM {background:url(../images/pubPic.png) no-repeat -9px -71px;}
.survey a{ color:#666}
.survey h2 .r a{ color:#fff}
.survey a:hover{color:#CB0003}