.blogwrapper {   }
.blognavleft {float: left; width: 200px; padding: 5px 5px 30px 5px;}
.blognavright {float: right; width: 245px;  padding:  6.18px 5px 30px 20px; }
.blogcenter-nonav {margin: 0px 0px 0px 0px; padding: 5px 0px 0px 5px;    }
.blogcenter-leftnav {margin: 0px 0px 0px 210px; padding: 5px 0px 0px 5px;   }
.blogcenter-rightnav {margin:0px 270px 0px 0px; padding: 6.18px 0px 0px 10px; position:relative; }
.bloginfo {   }
.bloginfotitle {   font-weight: bold; }
.blogcommentlink 
{ font-size:11px; text-align:right; padding: 0px 5px 3px 0px; font-family: Trebuchet MS;    }
div.blogcommentlink{ border-bottom: 1px solid #EAEAEA; }
div.blogcommenttext { border-bottom: 1px solid #EAEAEA;   }
.blogcommenttitle { font-family: Trebuchet MS;    }

.blogcommentposter { font-size:11px;   }
.blognav li { margin-bottom:6.18px;}
div.blognavright div h3 
{
	color:#151515;
font-size:1.5em;
padding-bottom:15px;
position:relative;
}
.postentry{padding:10px 0px;}