/* 
 * lin changqing 新加样式
 * date: 2010.10.12 
 */

/**
 * 注意:编辑器#vstp_ctEditor内置于碎片之内，所以框架级容器比如vstp_sec、vstp_subsec、vstp_ct等切记不能用Overflow:hidden，否则会影响编辑器显示。 
 */

/**全局**/
.vstp_sec{zoom:1;}
.vstp_sec:after{display:block;content:'\20';clear:both;}
.vstp_w950 .vstp_imgNav li.vstp_elmc{ background:#a8a999; width:950px; height:160px; }
.vstp_subsec{ padding-bottom:10px; border:1px solid #d0d0d0; }
.vstp_sec_hd{ height:30px; line-height:30px;  background:url(pic308x30.jpg) no-repeat;border:1px solid #d0d0d0; border-bottom:0 none}
.vstp_sec_hd span{ padding-left:20px;}
.vstp_sec_hd span a{ font-size:14px; color:#000}
.vstp_sec_hd .more{ padding-right:5px;}
.vstp_subsec h1{ margin:6px auto}
.vstp_subsec p{ text-align:left; padding-left:12px; _margin-top:4px; _margin-bottom:4px; line-height:22px; }

/**顶部**/
.vstp_nav{ font-weight:normal; height:40px; line-height:35px; background:url(pic1x35.jpg) repeat-x;}
.vstp_imgNav{height:auto;}
.vstp_nav .vstp_elm img{ width:950px; height:160px}
.vstp_nav .vstp_elm a{ display:inline-block; margin:0 10px;}
.vstp_imgNav .vstp_elm a{ display:block; margin:0 auto}
/**左侧**/

.vstp_w310 .vstp_flashWrap{ border:#d0d0d0 1px solid; border-bottom:0 none; padding-top:4px; padding-bottom:6px}
.vstp_w310 .vstp_subsec{ width:308px; border-top:0 none;padding:0;}
.vstp_w310 h2.vstp_sec_hd{ background:url(pic308x30.jpg)}
.vstp_w310 .pt{ width:294px; padding:8px 6px 8px 8px;border-left:1px solid #d0d0d0; border-right:1px solid #d0d0d0}
.vstp_w310 .pt h4{ font-weight:bold;}
.vstp_w310 .pt img{ border:1px solid #d0d0d0; padding:2px;}
.vstp_w310 .pt_t{ float:right; width:142px; border:0 none }
.vstp_w310 .pt_t img{ margin-top:4px ; width:128px; height:120px;}
.vstp_w310 .vstp_list{ float:left; width:148px; }
.vstp_w310 .vstp_list ul{ margin:10px 0 0 6px; color:#000; }
.vstp_w310 .vstp_vspace{ border-top:1px solid #d0d0d0}
/**中间**/
.vstp_w390 .vstp_subsec{ background:url(pic388x40.jpg) no-repeat }
.vstp_w390 .vstp_list{  margin-bottom:15px; line-height:26px; padding:6px}
.vstp_w390 h2.vstp_sec_hd {background:url(pic390x30.jpg);border:0 none ; }
.vstp_w390 .vstp_sec_hd .more{ padding-right:12px;}
/**右侧**/
.vstp_w230 .vstp_subsec{border-top:0 none }
.vstp_w230 h2{ _width:230px;}
.vstp_w230 h2.vstp_sec_hd{ background:url(pic03.jpg) repeat-x;  }
.vstp_w230 .vstp_sec_hd span a{ font-size:12px;}
.vstp_w230 .vstp_sec_hd span{ padding-left:8px;}
.vstp_w230 .pp{ width:204px; _width:206px; padding:12px 12px 0 12px; border:1px solid #d0d0d0; border-top:0 none; margin-bottom:10px; background:#F9F9F9}
.vstp_w230 .pp li img{ border:1px solid #d0d0d0; width:65px; height:70px}
.vstp_w230 .pp li { margin-bottom:6px;}
.vstp_w230 .pp li span{ line-height:20px; color:#333}

.vstp_w230 .vstp_subsec{ margin-bottom:10px; background:#F9F9F9}
.vstp_w230 .ttl{ text-align:left; padding:15px 10px 5px 13px; color:#000}
.vstp_w230 .opt{ text-align:left; padding-left:8px ; line-height:20px; color:#000}
.vstp_w230 .acts{ margin:10px}
.vstp_w230 .acts button{ width:46px; height:19px; font-size:12px; cursor:pointer; background:url(pic02.jpg) no-repeat; border:0 none}
.vstp_w230 .acts button.sb{ margin-right:8px}
.vstp_w230 .pt img{ margin:10px 30px 5px 30px; border:1px solid #d0d0d0;width:165px; height:98px}
.vstp_subsec p{ padding-right:12px}

/**底部**/
.vstp_w950 .news p.vstp_elmc{ line-height:22px; border-top:1px solid #a4a4a4; color:#000; margin-top:5px}