@charset "utf-8";
/*
HL=HL;bg=background;wp=wrapper;sec=sec;
*/
/*common class*/
.bgSubNav{background:#EEF3F6;}
.siteBar0{background:#F3F3F3;border:1px solid #ccc;padding:0 10px 15px 8px;margin-top:10px;}
.pt img,.pp img{border:1px solid #ccc;background:#fff;padding:1px;} 
.pt img.video,.pp img.video{}
img.icon{border:none;background:transparent;padding:0;}
.h2,h2{font-size:16px;font-weight:bold;color:#1E3853;height:20px;line-height:20px;text-align:left;}
.h3,h3,h4{font-size:14px;color:#333;}
h5{font-size:12px;}
h3,h4,h5{font-weight:bold;color:#333;}
ul.linklist0 li{background:url(http://images.sohu.com/uiue/dot.gif) no-repeat 0 -48px;padding-left:14px;}
ul.linklist1 li{background:url(http://images.sohu.com/uiue/dot.gif) no-repeat 0 0;padding-left:14px;}
.pt .list12{margin-top:10px;}
.pd8{padding-top:8px;}
/*H1-用于SEO*/
h1{display:none;}
/* 顶部导航 */
#indexNav li a{padding-right:2px;}
/*顶部广告*/
#topAds{border:1px solid #ccc;}
#topAds a{color:#333;}
.adT,.adB{margin-top:6px;padding:0 15px;}
.adB .l,.adB .r{width:150px;}
.adB .center{width:620px;text-align:center;}
.adT li{display:inline;float:left;width:153.3px;text-align:left;line-height:16px;padding:2px 0;overflow:hidden;}
/*新闻导航链接*/
#indexNav0,#indexNav1{width:100%;margin:0 auto;}
#indexNav0{margin-top:6px;padding:15px 0;text-align:left;}
#indexNav0 div.l{width:150px;}
	#channelLogo{margin-left:15px;}
#indexNav0 div.r{width:260px;}
#indexNav0 div.center{width:540px;}
#indexNav0 .col{border-left:1px solid #ccc;padding-left:14px;}
#indexNav0 ul{padding:0 15px;}
#indexNav0 li{display:inline;float:left;overflow:hidden;height:30px;width:60px;line-height:14px;}
#indexNav0 ul.row1 li{height:15px;}
	#weatherRPC p{height:22.5px;line-height:22px;}
	#weatherRPC a{padding-left:10px;}
#indexNav1{background:#06406E;}
	#indexNav1_l0{padding:10px 15px;}
	#indexNav1_l0 li{display:inline;float:left;margin-right:30px;line-height:14px;}
	#indexNav1_l0 a{color:#fff;font-size:14px;}
/*主体内容*/
/*主体内容#contentA*/
	/*左列*/
	#picHL0{position:relative;height:235px;width:300px;overflow:hidden;padding-bottom:10px;text-align:center;}
	#picHL0 span,#picHL0 h3{display:block;position:absolute;width:100%;height:32px;line-height:32px;top:203px/*235-32*/;z-index:2;color:#fff;font-weight:normal;} 
	#picHL0 span{background:#000;opacity:0.6;filter:alpha(opacity=40);z-index:1;}
	/*精品栏目*/
	#fancyHL .item{border-bottom:1px solid #ccc;position:relative;}
	#fancyHL .l{width:287px;border-right:1px solid #ccc;}
	#fancyHL .pt{height:60px; width:auto;overflow:hidden;margin:17px 10px 18px 14px;}
	#fancyHL p{display:none;}
	#fancyHL h5 span{color:#959595;}
	#fancyHL .on{background:#F4F4F4;}
	#fancyHL .on .pt{height:156px;}/*191-17-18=156*/
	#fancyHL .on h5{color:#8C3841;}
	#fancyHL .on p{display:block;}
	#fancyHL .icon{position:absolute;width:6px;height:6px;background:url(../img/icon01.gif) no-repeat -13px -30px;top:50%;right:3px;margin-top:-3px;}
	#fancyHL .on .icon{background-position:-13px -36px;}
	#fancyHL .last{border-bottom:none;}
	/*中列*/
	.secHead{position:relative;padding-top:10px;}
	.secHead .on{font-weight:bold;}
	.secHead span.more{position:absolute;top:10px;right:30px;color:#a5a5a5;}
	.secBody dt{margin-top:20px;}
	.secBody dd{margin-top:6px;color:#004276;}
		 /*link wrapper-a span tag*/
		.lnkWrap a{margin-left:6px;}
		.lnkWrap a.first{margin-left:0;}
	.adT0{margin-top:17px;}
	.adT0 ul{padding-top:14px;border-top:2px solid #F1F1F1;}
	.adT0 a{color:#333;}
	.ad320,.adT320{margin-top:20px;}
	/*右列*/
	.tab{padding-bottom:22px;}
		#tabHL0 .list12{margin-top:15px;}
	.tab li{display:inline;float:left;margin-right:10px;}
	.tab ul.secHead a{color:#333;}
	.tab ul.secHead a:hover{text-decoration:none;}
	#tabHL0 img{background:#fff;padding:2px;border:1px solid #ccc;}
	.ad260{width:260px;overflow:hidden;}
	.ad260 div{border:1px solid #ccc;}
	.siteBar0 .sec{padding:10px 0 15px 0;border-top:1px solid #ccc;}
	#voiceVDPushed #voicePushed{border-top:none;}
		#voicePushed h3{visibility:hidden;}
		#voicePushed .secHead span{right:0px;}
		#voicePushed .secHead a{color:#333;}
		#voicePushed .secBody{min-height:136px;height:auto !important; height:136px;}
		#voicePushed .secBody a:hover,#voicePushed .secFoot a:hover{text-decoration:none;background:#FBF1F0;border:1px solid #F1E4E9;}
		#voicePushed .secBody a{display:block;padding:5px;height:30px;width:73px; border:1px solid #ECECEC;}
		#voicePushed .secFoot a{display:block;padding:10px;border:1px solid #ECECEC;}
		#voicePushed .tip{background:#fff;}
		#voicePushed .l{margin-top:-5px;}
		#voicePushed .l .spec{margin-top:32px;}
		#voicePushed .r .spec{margin-top:8px;}
		#voicePushed .secFoot{position:relative;}
		#voicePushed .avatar{position:absolute;top:-5px;right:0;width:45px;height:45px;overflow:hidden;}
		.videoList li{display:inline;float:left;width:50%;padding:10px 0;overflow:hidden;_width:122.5px;}
		.videoList img{border:1px solid #ccc;background:#fff;padding:2px;}
		.videoList span{padding:10px 0;}
		.videoList a{font-weight:bold;}
/*/主体内容#contentA*/

/*主体内容#contentB*/
/*左列*/
#fancyPics0{padding-top:18px;_padding-top:8px;}
#fancyPics1{margin-top:10px;}
#fancyPics0 .pp{position:relative;}
#fancyPics0 .arrow{position:absolute;left:97px;bottom:-9px;width:18px;height:10px;}
#fancyPics_B li{display:none;}
#fancyPics_B li.on{display:block;}
#fancyPics_B span{background:#f1f1f1;margin:0 8px;padding:13px 0 8px 0;border:1px solid #ccc;}
#fancyPics_S{margin:25px 8px 10px 8px;}
#fancyPics_S li{display:inline;float:left;width:64px;height:50px;overflow:hidden;margin-right:5px;}
#fancyPics_S li.last{margin-right:0px;}
#fancyPics_S li.on{margin:-15px 0 0 -10px;padding-bottom:5px;width:84px;height:64px;overflow:hidden;}
#fancyPics_S li.on img{border:1px solid #ccc;padding:1px;background:#F1F1F1;}

#fancyPics1 li{display:none;float:left;width:50%;overflow:hidden;}
#fancyPics1 li.show{display:block;}
#fancyPics1 .pp{margin-top:12px;}
#fancyPics1 span.cur{font-weight:bold;font-size:16px;}
#fancyPics1 a.prev,#fancyPics1 a.next{background:url(../img/icon01.gif) no-repeat;width:20px;height:15px;float:left;}
#fancyPics1 a.prev{background-position:0 -15px;}
#fancyPics1 a.prev:hover{background-position:0 0;text-decoration:none;}
#fancyPics1 a.next{background-position:-20px 0;}
#fancyPics1 a.next:hover{background-position:-20px -15px;text-decoration:none;}
	#fancyPics1_0 span{padding:10px 0 20px 0;}
	#fancyPics1_pg{background:#f4f4f4;padding:4px 5px 4px 15px;}
/*中列*/

/*右列*/
#coreReports{margin-top:5px;}
#coreReports .sec{margin-top:13px;}
#coreReports,#blogRecommends{border-top:none;}
/*/主体内容#contentB*/

.adAWrap{margin-top:15px;border:1px solid #ccc;}
.adA{margin:0;padding:0;}
.adA li{line-height:normal;}
.adA a{color:#333;}
.adA .right{margin:0 auto;overflow:hidden;width:194px;text-align:center;}
.adA ul{margin-left:35px;}

/*主体内容#contentC*/
#contentC {margin-top:5px;}
#contentC .ad300{padding-top:15px;}
#contentC .siteBar2,#socialActivities .list12{margin-top:10px;}
/*右列*/
#contentC .siteBar0 .secHead{padding-top:5px;}
#contentC .siteBar0 .navc{padding-bottom:0;}

.sohuSplit{margin-top:15px;}

/*	国际新闻#contentF*/
	.searchSV{padding-top:18px;border-top:1px dashed #ccc;}
	.searchSV a.on{color:#333;font-weight:bold;}
	.form0{text-align:center;padding-top:8px;}
	.form0 input{width:67px;height:16px;padding:2px 0px 2px 5px;color:#999;}
	.form0 label{color:#333;}
	.form0 button{margin:0;padding:2px 0 2px 5px;border:none;background:#004377;color:#fff;letter-spacing:5px;}
	.form0 select{width:48px;height:20px;}
	.tabStock li{display:inline;float:left;border:1px solid #B1B8C4;}
	.tabStock li{border-left:none;border-bottom:none;}
	.tabStock li.first{border-left:1px solid #B1B8C4;}
		.tabH{border-bottom:1px solid #B1B8C4;}
		.tabH a{display:block;height:22px;padding:0 12px;background:#f5f9fc;text-align:center;line-height:22px;}
		.tabH a:hover,.tabH a.on{background:#fff;color:#333;font-weight:bold;}
	.tabStock .tabC{display:none;}
	.tabStock .on{display:block;}
	.tabStock th,.tabStock td{width:24%;padding-top:10px;font-weight:normal;text-align:right;}
	.tabStock th{width:28%;text-align:left;}
	.tabStock td{color:red;}
	.tabStock td.col1,.tabStock td.zero{color:#333;}
	#searchStockFrm input{width:80px;}
	
/*	体育娱乐#contentG*/
	.commentActions{margin:12px 0px 15px 10px;}
	.commentActions span{float:left;margin-top:2px;}
	.commentActions .icon{background:url(../img/icon01.gif) no-repeat -16px -43px;height:16px;width:16px;}
	.commentActions button{margin:0;padding:2px 0 2px 5px;border:none;background:#004377;color:#fff;}
	.commentActions .cnt{margin-right:10px;padding-left:5px;background:#fff;color:red;}
#contentG .videoList li{padding-top:0;}
#contentG .videoList img{border:1px solid #ccc;background:#fff;padding:2px;}
#contentG .videoList span{padding-bottom:0;}

#contentI .info{background:#355c9c;color:#fff;height:110px;overflow:hidden;}
#contentI .blank10{background:#355c9c;}
#contentI a{color:#fff;}
#contentI .bigPic{width:230px;height:230px; overflow:hidden;}
#contentI .smallPic{width:110px;overflow:hidden;}
#contentI .focusPic{position:relative;}
#contentI .border{position:absolute;height:220px;width:220px;top:0;left:0;border:5px solid #355c9c;}
#contentI img{border:none;}
#contentI .ad220{padding:20px 0;}
#contentI .info_inner{padding:5px 12px 12px;}
#contentI p{line-height:20px;}

#contentJ .left .l{width:11%;overflow:hidden;}
#contentJ .right .l{width:33%;overflow:hidden;}
#contentJ h3 a{color:#333;}
#contentJ dd{color:#666;}
	#adList1{padding-right:15px;}
	#adList1 dt a{text-decoration:underline;}
	#adList1 .link a{color:#009900;font-size:14px;}
	#adList1 .desc{margin-top:8px;}
	#adList1 .link{margin:12px 0 30px 0;}

#footer{text-align:center;padding:22px 0 26px 0;}

	



		
	

