body{ background:#333; margin:0; padding:0;line-height:normal;}
h2.Atitle a,h2.Atitle a{ color:#f60; padding:0; margin:0;}
h3.Ptitle{ font-size:12px; font-weight:bold; border-bottom:1px #c7c7c7 solid; line-height:1.8;}
h3.Ptitle span{ font-weight:normal; color:#999; padding:0 5px;}
.viewmode a{ display:block; overflow:hidden; height:20px; text-indent:-9999em; float:left;}
.viewmode a.byList{background:url(img/main_bg.gif) 0 -1082px no-repeat;width:24px; }
.viewmode a.byList_active{background:url(img/main_bg.gif) 0 -1062px no-repeat;width:24px; }
.viewmode a.byBlock{background:url(img/main_bg.gif) -24px -1062px no-repeat; width:25px;}
.viewmode a.byBlock_active{background:url(img/main_bg.gif) -24px -1082px no-repeat; width:25px;}
/*common set*/
.common_sec3{ border-top:1px #e5e5e5 solid;}
.blank10{ margin-top:10px;}
.blank15{ margin-top:15px;}
.blank20{ margin-top:20px;}
.blank25{ margin-top:25px;}
.blank30{ margin-top:30px;}
.blank40{ margin-top:40px;}
.blank60{ margin-top:60px;}
.blank70{ margin-top:70px;}
.blank80{ margin-top:80px;}
.pool10{padding-top:10px;}
/*header*/
#p-header{ background:url(img/p_head.png) repeat-x; height:84px; width:100%; text-align:left; position:relative; z-index:2;}
* html #p-header{ background:url(img/p_head_ie.png) repeat-x; height:84px; width:100%; text-align:left; position:static; z-index:1;}
#p-header span.shine{ background:url(img/p_head_inner.gif) 0 0 no-repeat; position:absolute; bottom:6px; _bottom:-8px; left:0; width:439px; height:4px;}
* html #p-header span.shine{ display:none;}
#p-header-line{ width:100%; height:40px; border-bottom:1px #d5d5d5 dashed;}

#p-header-line .p-header-inner { width:960px; margin:0 auto; }
.p-header-inner a.logo{ background:url(img/p_logo.gif) 0 0 no-repeat; display:block; overflow:hidden; width:180px; height:40px; text-indent:-999em; float:left;}

.p-header-inner ul.sys_menu li.sys_navi{float:left; display:inline; position:relative; z-index:60; margin-right:35px;}
.p-header-inner ul.sys_menu li.sys_navi a{ font-weight:bold; font-size:14px; color:#000;}


.p-header-inner ul.sys_menu li.sys_navi_drop a{ font-weight:bold; font-size:14px; color:#000; background:url(img/pro_sprites.gif) 0 0 no-repeat; padding:4px 50px 0 0;}
.p-header-inner ul.sys_menu li.sys_navi_drop a:hover{ text-decoration:none;background:url(img/pro_sprites.gif) 0 -35px no-repeat;}

.p-header-inner ul.sys_menu li.sys_navi_drop a.hover{background:url(img/pro_sprites.gif) 0 -35px no-repeat;}
.p-header-inner ul.sys_menu li.sys_navi_drop a span.hover{ text-decoration:underline;}

.p-header-inner #p-primary-navi{ float:left; padding:0; margin:13px 0 0 20px;}
/*p-header-#global_search*/
.p-header-inner #global_search{ position:relative; z-index:70; float:right; margin:8px 0 0 0;}
#p-header #global_search input.g_txt{ background:url(img/bg_sprit2.gif) 0 -665px no-repeat; width:200px; height:26px; line-height:26px;  border:0; float:left; _display:inline; font-size:12px; padding-left:10px;}
form#globalsearch{ width:262px;}
@-moz-document url-prefix(){#p-header #global_search input.g_txt{ line-height:normal; padding-top:6px;}}
#globalsearch-go{ background:url(img/gsearch_button.gif) 0 0 no-repeat; width:31px; height:25px; border:0; float:left;_display:inline;}
#p-header #global_search .typing{ background-position:0 100%;}
#global_search span.search_menu{ position:relative; float:left;}
#global_search span.search_menu a.down{background:url(img/gsearch_button.gif) -31px 0 no-repeat; display:block; overflow:hidden; width:21px; height:25px; text-indent:-999em; text-align:left;}
#global_search span.search_menu a.up{background:url(img/gsearch_button.gif) -31px -25px no-repeat; display:block; overflow:hidden; width:21px; height:25px; text-indent:-999em; text-align:left;}
#global_search #search_menu_drop{ width:100px; position:absolute; top:25px; right:7px;  background:#999; margin-left:0; margin-top:0; }
#global_search #search_menu_drop .menu_drop_inner{background:#fff;  border:1px #D1CFCF solid;padding:5px 10px; position:relative; top:-1px; left:-1px;}
#global_search #search_menu_drop a{ color:#36c; display:block; font-size:12px; text-align:left; display:block; line-height:1.5; padding:2px 0 2px 5px; }
#global_search #search_menu_drop a:hover{ background:#36c; color:#fff; }

.p-header-inner ul.sys_menu li.sys_navi_drop ul{ position:absolute; top:27px; left:0; width:100px;background:#8F8F8F; margin-left:0; margin-top:0;}
.p-header-inner ul.sys_menu li.sys_navi_drop ul .sys_drop_inner{background:#fff; border:1px #F97215 solid;  padding:5px; position:relative; top:-1px; left:-1px;}
.p-header-inner ul.sys_menu li.sys_navi_drop ul li{  margin-bottom:5px; *margin-bottom:1px;}
.p-header-inner ul.sys_menu li.sys_navi_drop ul li a{ display:block; height:20px; line-height:1.8; overflow:hidden; padding:0 0 0 5px;  font-weight:normal; color:#36c; font-size:12px; background:none; }
.p-header-inner ul.sys_menu li.sys_navi_drop ul li a:hover{ background:#FA8F45; color:#fff;}

/*p-header-user*/

.p-header-user{  width:960px; margin:0 auto;}
.p-header-user .p-quick{ float:left; _display:inline; font-size:12px; color:#bbb; line-height:33px; margin-left:10px; position:relative; z-index:10;}
.p-header-user .p-quick a{ padding:0 5px; color:#8CA6D7;}
.p-header-user .p-quick a:hover{ color:#36c;}
.p-header-user .p-quick span{ float:left;}
.p-header-user .p-quick span.p-quick-set{ position:relative;  width:20px; height:30px; padding:0 4px;}

.p-header-user .p-quick-set a.gears{ background:url(img/feed_gear.gif) 0 0 no-repeat; width:16px; height:15px; display:block; overflow:hidden; text-indent:-999em; padding:0; position:absolute; top:9px; left:6px;}
.p-header-user .p-quick-set a.add2quick{background:url(img/p_quick_add.gif) 0 0 no-repeat; width:9px; height:9px; display:block; overflow:hidden; text-indent:-999em; padding:0; position:absolute; top:12px; left:10px;}
.p-header-user .p-quick-set a.gears:hover{ background-position:-16px 0;}
.p-header-user .p-quick-set a.add2quick:hover{ background-position:0 -9px;}

.p-header-user .p-quick-set .gears_list{ position:absolute; top:30px; left:5px; background:#fff; padding:10px; width:150px; line-height:normal;border-width:1px; border-color:#fff #ccc #ccc #fff; border-style:solid; color:#666;}
.p-quick-set .gears_list p em.actions{ visibility:hidden;}
.p-quick-set .gears_list p.bg_grey em.actions{ visibility:visible;}
.p-header-user .p-quick-set .gears_list p{ line-height:1.8;}
.p-header-user .p-quick-set .gears_list p label{ position:relative; left:4px; top:-2px;}
.p-header-user .p-quick-set .gears_list p.hint{ border-bottom:1px #ebebeb solid; margin-bottom:5px; padding-bottom:5px; color:#999;}
.p-header-user .p-quick-set .gears_list p.acts{ text-align:right; border-top:1px #ebebeb solid; margin-top:5px; padding-top:5px;}

.p-header-user .p-quick-set .add2quick_tips{ position:absolute; border-width:1px; border-color:#ffffcc #e0e0e0 #e0e0e0 #ffffcc; border-style:solid; top:30px; left:10px; width:120px; background:#FFFFCC; line-height:normal; padding:10px; color:#333;}


.p-header-user .p-usr{ float:right; margin-top:4px;}


.p-usr ul li{ font-size:12px; float:left; *display:inline;}
.p-usr ul li.nickname img{ border:1px #f5f5f5 solid; position:relative; top:4px; margin-right:4px;} 
.p-usr ul li.narrow{ padding:0 4px; color:#bbb; position:relative; top:5px;}

.p-usr ul li.account a span{ font-size:11px; color:#999;}

.p-usr ul li.noticeicon{ margin-right:20px;}
.p-usr ul li.pmicon,.p-usr ul li.noticeicon{ position:relative; top:4px;}
.p-usr ul li.setting{ position:relative; top:6px; *top:8px;}
.p-usr ul li.account{ position:relative; top:6px;}
.p-usr ul li.exit{ position:relative; top:6px; *top:8px;}
.p-usr ul li.logstatic{ position:relative; top:7px;}

@media all and (min-width: 0px){.p-usr ul li.pmicon,.p-usr ul li.noticeicon{ position:relative; top:5px;} }

.p-usr ul li.pmicon a,.p-usr ul li.noticeicon a{ display:inline-block; padding-left:18px; text-decoration:underline; font-size:10px;}
.p-usr ul li.pmicon a:hover,.p-usr ul li.noticeicon a:hover{ text-decoration:none;}
.p-usr ul li.pmicon a{background:url(img/letter.gif) 0 2px no-repeat;}
.p-usr ul li.pmnew a{ color:#f00;}
.p-usr ul li.noticeicon a{ background:url(img/notice.gif) 0 2px no-repeat; }

/*footer*/
#p-footer{ text-align:left; background:url(img/p_foot_bg.gif) top repeat-x #333;}
.footer_menu{ width:960px; margin:0 auto; padding-top:50px;}
.footer_menu_main{ background:#242424; border-left:1px #414141 solid; border-right:1px #414141 solid; padding:10px 20px;}
.footer_menu span.top{background:url(img/pro_sprites.gif) 0 -90px no-repeat; height:6px; width:960px; display:block; overflow:hidden;}
.footer_menu span.bot{background:url(img/pro_sprites.gif) 0 -96px no-repeat; height:6px; width:960px; display:block; overflow:hidden;}

.footer_menu_main dl{ font-size:12px; float:left; display:inline; width:175px; *width:180px;  margin:0 20px; padding-right:10px;}
.footer_menu_main dl dt{ font-weight:bold; color:#666; line-height:1.8;}
.footer_menu_main dl dd a{ color:#bbb; line-height:1.8;}
.footer_menu_main dl dd a:hover{ color:#f60;}

#p-footer .copyright{ font-size:12px; width:955px; margin:10px auto 0 auto; padding-bottom:30px; color:#666; position:relative;}
#p-footer .copyright p.cr{ float:left;background:url(img/pro_sprites.gif) 0 -102px no-repeat; padding-left:60px; line-height:2;}
#p-footer .copyright p.cr a{ color:#666;}
#p-footer .copyright p.cr a:hover{ color:#f60;}
#p-footer .copyright p.tp a{background:url(img/pro_sprites.gif) 0 -126px no-repeat; float:right; width:160px; height:24px; display:block; overflow:hidden; text-indent:-9999em; margin-right:50px;}
#p-footer .copyright a.backtop{background:url(img/pro_sprites.gif) -160px -126px no-repeat; width:41px; height:24px; display:block; overflow:hidden; text-indent:-999em; position:absolute; top:2px; right:0;}

/*nowrap*/
#p-nowrap{  margin-top:-6px; position:relative; z-index:1; _z-index:2; width:100%; text-align:left;}
/*bg_pic*/
.personal_bg_v1{ background:url(img/mbg.jpg) top repeat-x #fff;}

@media all and (min-width: 0px){.select_personal_tabs ul li a.current{ color:#000; font-weight:bold; background:#fff; border:1px #ccc solid; border-bottom:1px #fff solid; position:relative; top:-1px; } }

#profile_index{ position:static; width:960px; margin:0 auto; padding:20px 0 40px 0;}
.profile_title{  width:686px; position:relative; z-index:5;}
.profile_title .usr_tools{ position:absolute; top:0; right:0; font-size:12px;}
.profile_title .usr_tools a{ margin-left:10px;}
.profile_title .usr_tools a.set_radios{ background:url(img/fm/fm_sprite.gif) 0 0 no-repeat; padding-left:20px; text-decoration:underline;}

.profile_title .usr_tools a.set_bgs{  font-size:12px;background:url(img/pro_sprites.gif) 0 -524px no-repeat; *background:url(img/pro_sprites.gif) 0 -525px no-repeat; padding-left:25px; text-decoration:underline;}
.profile_title .usr_tools a.set_bgs:hover,.profile_title .usr_tools a.set_radios:hover{ text-decoration:none;}


.profile_title .usr_info{ margin-bottom:5px;}
.profile_title .usr_info h1{ float:left;font-family:"Microsoft YaHei","Î¢ÈíÑÅºÚ","Microsoft JhengHei","»ªÎÄºÚÌå",STHeiti,Georgia,"Times New Roman",Times,serif; font-size:22px; padding-right:5px;}
.profile_title .usr_info h1 a{ color:#000;}
.profile_title .usr_info h1 a:hover{ color:#36c;}

.profile_title .usr_info .p_name img{ position:relative; top:4px;}

.profile_title .usr_info .p_stat{ clear:both; font-size:12px; color:#999; line-height:3;}
.profile_title .usr_info .p_stat a,.profile_title .usr_info .p_stat span{ padding:0 3px;}

.profile_title .usr_navigation{ position:absolute; bottom:0; right:0;}
.usr_navigation ul li{ float:left; display:inline; margin-left:9px;}
.usr_navigation ul li a{ font-size:12px; position:relative; background:url(img/pro_navi_bg.gif) top right no-repeat #e4e4e4; color:#666; padding:7px 7px 6px 7px; *padding:7px;  *line-height:2;}
.usr_navigation ul li a:hover{ color:#000;}
.usr_navigation ul li a.more span{ background:url(img/pro_sprites.gif) 0 -181px no-repeat; padding-right:10px;}
.usr_navigation ul li a.active{ background:#fff; top:0; *top:-2px;  font-size:14px; font-weight:bold; color:#000; border-width:3px 1px 1px 1px; border-style:solid; border-color:#FFB27F #ddd #fff #ddd;}
.usr_navigation ul li a.active:hover{ text-decoration:none; }

.usr_navigation ul li.showmore{ position:relative; }
.usr_navigation ul li.showmore a.active span{ background:url(img/pro_sprites.gif) 5px -181px no-repeat;}
.usr_navigation ul li.showmore .showmore_menu{ position:absolute; top:25px; *top:29px; right:0;width:100px; background:#7f7f7f; margin-left:0; margin-top:0;}

@media all and (min-width: 0px){.usr_navigation ul li.showmore .showmore_menu{ position:absolute; top:22px; right:0;width:100px; background:#7f7f7f; margin-left:0; margin-top:0;}}
.usr_navigation ul li.showmore dl{ background:#fff;padding:4px 7px; border:1px #b3b3b3 solid; position:relative; top:-1px; left:-1px;}
.usr_navigation ul li.showmore dl dd { padding:0; margin:0;}
.usr_navigation ul li.showmore dl dd a{ display:block; position:static; background:none; padding:0; padding-left:4px; color:#36c; height:24px; line-height:24px;}
.usr_navigation ul li.showmore dl dd a.active_sub{color:Red;}
.usr_navigation ul li.showmore dl dd a:hover{ color:#fff; background:#8CA6D7;  text-decoration:none;}


.profile_content span.top{background:url(img/pro_sprites.gif) 0 -160px no-repeat; height:9px; width:960px; display:block; overflow:hidden;}
.profile_content span.bottom{background:url(img/pro_sprites.gif) 0 -169px no-repeat; height:9px; width:960px; display:block; overflow:hidden;}
.profile_content .proMain{ background:url(img/pro_content.gif) repeat-y; padding:5px 0 70px 0;}


/*proMain*/

.w676{ width:676px;}
.proMain_left{ width:698px;  float:left; padding-left:10px;}
.proMain_side{ width:200px;  float:right; margin-right:30px; margin-top:-60px; display:inline; _position:relative;}


/*taste_ometer*/
#taste_ometer{ background:#f5f5f5; width:674px; margin-bottom:15px;}
#taste_ometer p.timing{ font-size:14px; padding:10px;}
#taste_ometer .taste_info{ float:left; font-size:12px; width:418px; padding:10px 10px 15px 10px;}
#taste_ometer .low .ometer{ background:url(img/taste_bar.gif) 0 -5px repeat-x;height:5px; overflow:hidden; display:block;}
#taste_ometer .verylow .ometer{ background:url(img/taste_bar.gif) 0 -10px repeat-x;height:5px; overflow:hidden; display:block;}
#taste_ometer .high .ometer{ background:url(img/taste_bar.gif) 0 -15px repeat-x;height:5px; overflow:hidden; display:block;}
#taste_ometer .veryhigh .ometer{ background:url(img/taste_bar.gif) 0 -20px repeat-x;height:5px; overflow:hidden; display:block;}
#taste_ometer .unknow .ometer{ visibility:hidden;}

#taste_ometer .high .title strong,#taste_ometer .veryhigh .title strong{ color:#090;}

#taste_ometer .taste_info .title{ padding-bottom:10px;}
#taste_ometer .taste_info .title strong{ padding-left:5px;}
#taste_ometer .taste_info .title a{ color:#000; font-weight:bold;}
#taste_ometer .taste_info span.bar{ background:url(img/taste_bar.gif) repeat-x; width:100%; height:5px; overflow:hidden; display:block;}
#taste_ometer .taste_info .similar{ color:#666; margin-top:15px;}
#taste_ometer .taste_info .similar a{ padding:0 2px; }
#taste_ometer .taste_info .mutual{ font-size:13px; padding-top:10px;}
#taste_ometer .taste_info .mutual a{color:#8CA6D7; text-decoration:underline;}
#taste_ometer .taste_info .mutual a:hover{ color:#36c; text-decoration:none;}


#taste_ometer .follow_usr{ float:right; font-size:14px; color:#666; background:#e5e5e5; border-left:1px #d3d3d3 solid; padding:20px 10px 10px 10px; line-height:1.8; min-height:85px;_height:85px;}

/*tweet*/
#p_tweet{ width:697px; position:relative; z-index:1;}
#p_tweet .p_tweet_top{ background:url(img/intro_tb.gif) 0 0 no-repeat; width:697px; height:9px; display:block; overflow:hidden;}
#p_tweet .p_tweet_bottom{background:url(img/intro_tb.gif) 0 -9px no-repeat; width:697px; height:9px; display:block; overflow:hidden;}
#p_tweet .p_tweet_show { padding:0 40px 15px 10px; background:url(img/intro_bg.gif) 0 repeat-y;  font-size:13px; line-height:1.7; color:#555; width:6 word-break:break-all;word-wrap:break-word; overflow:hidden; min-height:60px;}
#p_tweet .p_tweet_show br{ display:block; overflow:hidden; width:0; height:0; *height:0; *line-height:0;}
#p_tweet .p_tweet_cor{ background:url(img/intro_cor.gif) 0 0 no-repeat; width:25px; height:44px; display:block; overflow:hidden; position:absolute; top:15px; right:-1px;_right:-2px;}


#p_tweet .p_tweet_show span.time{ display:block; text-align:right; color:#aaa; font-size:11px; padding-right:5px;}
#p_tweet .p_tweet_show a{ display:block; color:#8CA6D7;}
#p_tweet .p_tweet_show a#tweetBtn_Edit{ position:absolute; bottom:5px; right:35px;}
#p_tweet .p_tweet_show a:hover{ color:#36c;}

#p_tweet .p_tweet_edit{padding:0 40px 0 10px; background:url(img/intro_bg.gif) 0 repeat-y;}

#p_tweet .p_tweet_edit textarea{ width:645px; height:85px;}
#p_tweet .p_tweet_edit p.acts{ position:relative; padding-top:10px; display:block; width:100%; text-align:right;}
#p_tweet .p_tweet_edit p.acts span.type_counts{ padding-right:15px;}
#p_tweet .p_tweet_edit p.acts a{ font-size:12px; padding-left:15px;}

/*more- detail*/
#column695{ padding:20px 0 70px 0;}

.c695_title{ width:960px; margin:0 auto; position:relative;}
.c695_title .buddy50{ position:relative; min-height:50px;_height:50px; z-index:5; top:28px; left:10px;}
.c695_title .buddy50 .buddy{ position:absolute; top:0; left:0;}
.c695_title .buddy50 .infos{ padding-left:60px;}
.c695_title .buddy50 .infos h1{ font-size:14px; line-height:1.8; padding-bottom:5px;}
.c695_title .buddy50 .infos p{ font-size:12px; color:#999; line-height:2;}
.c695_title .buddy50 .infos p span{ padding:0 5px;}

.c695_title .usr_navigation{ position:absolute; z-index:40; bottom:6px; *bottom:0; right:10px;}
@media all and (min-width: 0px){.c695_title .usr_navigation{ position:absolute; z-index:40; bottom:5px; *bottom:0; right:10px;}}

.c695_main{width:960px; margin:0 auto; border-top:1px #efefef solid; background:url(img/layout220.gif) 657px 0  repeat-y #fff; min-height:300px;_height:300px; padding-bottom:50px;}

.c695_left{ width:675px;  float:left; padding:45px 10px 60px 10px;}
.c695_left .all_page{ float:right; margin-top:15px;}
.c695_left .filter_counts{ font-size:12px; color:#999; }
.c695_left .filter_counts b{ font-size:14px; color:#000;}


.c695_left a.lib_unfaved{ font-size:12px; display:block; clear:both; text-decoration:underline;}
.c695_left a.lib_unfaved:hover{ text-decoration:none;}
/*c695_l_navi*/
.c695_l_navi{ background:url(img/pro_sprites.gif) 0 -581px no-repeat; height:32px; }
.c695_l_navi .c695_l_toolbar{ padding-top:6px;}
.c695_l_navi .c695_l_toolbar .counts{ position:relative; top:0; left:5px;}
.c695_l_navi .c695_l_toolbar .p_filter_more .selects{ *position:relative; *top:2px;}
.c695_l_navi .c695_l_toolbar .p_filter_more .viewmode{ margin-right:5px;}

@media all and (min-width: 0px){.c695_l_navi .c695_l_toolbar .p_filter_more .selects{ position:relative; top:2px;}}
ul.c695_navigate{ height:31px; overflow:hidden;}
ul.c695_navigate li{ float:left; *display:inline;}
ul.c695_navigate li a{ color:#666; margin-top:1px; padding:0 15px; width:100px; text-align:center; display:block;  background:url(img/c695_navi_bg.gif) right no-repeat; font-size:12px; height:30px; line-height:30px; *line-height:34px;}
ul.c695_navigate li a:hover{ font-weight:bold; color:#000;}
ul.c695_navigate li a.current,ul.c695_navigate li a.current:hover{ text-decoration:none; background:url(img/pro_sprites.gif) 0 -613px no-repeat; font-weight:bold; color:#000; cursor:default;}
.c695_l_navi .no_navi{ padding-top:8px; position:relative; z-index:15;}
.c695_l_navi .no_navi span.counts{ float:left; font-size:12px; color:#999; padding-left:5px;}
.c695_l_navi .no_navi a.sub_RSS{ float:left; margin-left:5px;}
.c695_l_navi .no_navi .cate_filter{ float:right; margin-right:10px;}
.c695_l_navi .no_navi span.used_trackplayer{ font-size:12px; padding-left:15px; color:#999; line-height:1.5; *position:relative; *top:-2px;}

a.ico_cate_filter{ background:url(img/pro_sprites.gif) 0 -655px no-repeat; font-size:11px; padding-left:22px; font-family:PMingLiU,AppleGothic,Verdana,Gulim,Sans-serif; color:#999; }

.cate_filter{ position:relative; z-index:20;}
.cate_filter .cate_filter_menu{  position:absolute; top:20px; right:0; background:#fff; font-size:12px; width:80px; padding:5px 7px; border-color:#F0F0F0 #666666 #666666 #F0F0F0;border-style:solid;border-width:2px 1px 1px 2px; }  /*drop_menu*/
.cate_filter .cate_filter_menu ul li a{ display:block; height:24px; line-height:24px;}
.cate_filter .cate_filter_menu ul li a:hover{ background:#8CA6D7; color:#fff; text-decoration:none;}


/*c695_l_toolbar*/
.c695_l_toolbar{ padding-top:10px;}
.c695_l_toolbar .tag_navi strong{ font-size:16px; color:#000; padding-left:3px;}

.c695_l_toolbar span.counts{ font-size:12px; color:#999; float:left; padding:4px 0 0 5px;}

.c695_l_toolbar .p_filter_more{ font-size:12px; float:right;}
.c695_l_toolbar .p_filter_more_songs{ font-size:12px;}


.c695_l_toolbar .selects label{ color:#666; padding-right:5px;}
.c695_l_toolbar .selects select{ height:18px; font-family:PMingLiU,AppleGothic,Verdana,Gulim,Sans-serif;}

.p_filter_more span{ float:left;}
.p_filter_more span.stats{ position:relative; z-index:20; top:2px;}

.p_filter_more span.stats a.boos{ border-right:1px #e9e9e9 solid; margin-right:8px; padding-right:8px; color:#8CA6D7;}
.p_filter_more span.stats .post_stat_menu{ visibility:hidden; position:absolute; top:0; left:0; background:#fff;border-color:#F0F0F0 #666666 #666666 #F0F0F0;border-style:solid;border-width:1px; padding:3px 7px; width:70px; } /*drop_menu*/
.p_filter_more span.stats .post_stat_menu ul li a{ display:block; line-height:1.8;}
.p_filter_more span.stats .post_stat_menu ul li a:hover{ background:#8CA6D7; color:#fff; text-decoration:none;}
.p_filter_more span.viewmode{ margin-left:20px;}
.artist_letters ul li { width:20px; height:20px; margin-left:2px; margin-bottom:5px; display:block; overflow:hidden; float:left; text-align:center;}




.library_album .album_item100_thread{ position:relative;_zoom:1;}
.library_album .album_item100_thread a.removeIT,.library_album .album_item100_block a.removeIT{ visibility:hidden;}
.library_artist .artist_item100_thread a.removeIT,.library_artist .artist_item100_block a.removeIT{ visibility:hidden;}

.library_album li.bg_grey a.removeIT,.library_artist li.bg_grey a.removeIT{ visibility:visible;}

.c695_l_content .albumBlock_list ul li{ margin:15px 15px 0 10px;}
.c695_l_content .artistBlock_list ul li{ margin:15px 33px 0 15px;}

.library_album .album_item100_thread span.faved_time{ font-size:11px; color:#999; position:absolute; top:5px; left:5px;}
.library_album .album_item100_thread a.removeIT{ position:absolute; top:0; right:10px;}
.library_album .album_item100_thread .info{ margin-left:60px;}
.library_album .album_item100_thread .acts{ width:90%; margin-left:60px; min-height:15px; height:auto;_height:15px;}
.library_album .album_item100_thread .acts .tag_block{ width:400px; position:relative; top:-5px;}
.library_album .album_item100_thread .acts .tag_block a{ color:#bbb;}
.library_album .album_item100_thread .acts .tag_block a:hover{ color:#36c;}

.library_album .album_item100_block{ position:relative;}
.library_album .album_item100_block a.removeIT{ position:absolute; top:170px; right:20px;}
.library_artist .artist_item100_thread{ position:relative; background:none;}
.library_artist .artist_item100_thread a.removeIT{ position:absolute; top:0; right:10px;}
.library_artist{ padding-left:0;}
.library_artist .artist_item100_block{ position:relative;}
.library_artist .artist_item100_block a.removeIT{ position:absolute; top:145px; right:20px;}
.library_artist .info .main{ border-bottom:none;}



.c265_side{ width:264px;  float:right; }
.c265_side #market_siderbar,.c265_side #sponsor_block{ background:none; border:none; padding:0;}
.c265_side_search{ background:#FDF9F5; border-top:1px #FDE6CF solid; border-bottom:1px #FDE6CF solid; padding:5px 0 15px 0;}
.c265_side_search .info,.c265_side_search .acts{ padding-left:10px;}
.c265_side_search .info input.f_txt2{ width:80%;}
.c265_side_search label{ color:#CF6E0C; font-size:12px; display:block; line-height:2;}
.c265_side_search .acts{ margin-top:10px;}
.c265_side_search a.contacts_seek{ display:block; margin:0; padding:5px 0 0 10px;}
.c265_side_search a.contacts_seek strong{ font-weight:normal; text-decoration:underline; font-size:14px;}
.c265_side_search a.contacts_seek p{ font-size:12px; color:#999; line-height:1.8;}

.c265_side_tips{ font-size:12px; color:#999; line-height:1.7;}

.c265_side_seek span.seek_keywords{ font-size:12px; color:#f00; width:240px; overflow:hidden; word-break:break-all;word-wrap:break-word;}
.c265_side_seek span.seek_keywords a{ padding-left:5px;}

.c265_side .c265_side_radio{ font-size:12px;font-family:"Microsoft YaHei","Î¢ÈíÑÅºÚ","Microsoft JhengHei","»ªÎÄºÚÌå",STHeiti,Georgia,"Times New Roman",Times,serif; }

.c265_side .c265_side_radio p{ line-height:2; padding-bottom:10px; color:#999;}

.pad20{ width:224px; overflow:hidden; margin-left:20px;}
.pad12{ width:240px; overflow:hidden; margin-left:12px;}
/*sidebar section*/
/*sec=section;t=tag;*/
.sec0{margin-top:6.18px;}
.sec_tlist a{ display:block; font-size:12px; color:#999; line-height:2; padding-left:3px;}
.sec_tlist a span{ font-size:11px; color:#aaa;}
.sec_tlist a:hover{ color:#36c;}
.sec_tlist a.current,.sec_tlist a.current:hover{ font-size:14px; font-weight:bold; color:#f60; text-decoration:underline;}
.sec_tlist a.showmore{ color:#8CA6D7;}


.side_actions a.sub_RSS,.side_actions a.sub_Widget{ display:block; margin-top:10px;}
a.relate_links{ font-size:14px; display:block; border-bottom:1px #f0f0f0 solid; padding-bottom:7px; margin-bottom:7px;}
a.sub_Widget{ font-size:12px;  background:url(img/widget2.0.gif) 0 -2px no-repeat; color:#999; text-decoration:underline; padding-left:20px; line-height:16px; padding-bottom:2px;}
a.sub_Widget:hover{ color:#36c; text-decoration:none;}

.tag_song_list table.track_list td.song_name{ width:400px;}


.c695_l_content table.track_list{ border-top:1px #e5e5e5 solid; margin-top:10px;}