/*admin.global*/
body {
	height: 100%;
	background-color: #FFFFFF;
	font-style: normal;
	font-size: small;
	font-family: Verdana;
	font-size: 11px;
}
h1 {
	font-size: 15px;
	letter-spacing: 1px;
}
a {
	text-decoration: none;
	color: #5C80B1;
}
a:hover {
	text-decoration: underline;
}
.alt td {
	background-color: white;
}
label.wide {
	float: left;
	display: block;
}
div.tab_p_title
{
}
div.exposed
{
	background:#fff;
	color:#29675C;	
}
div.tab_p_body
{
	height:388px;
	overflow:auto;
}
div.tab_header{ background-image:url("img/grad3.png");font-size:12px; background-repeat:repeat-x;}
/*common part*/
.objHide{display:none;}
.objShow{display:block;}
/*----Common part-text effects*/
.highlight0{color:Red;cursor:pointer;}
.highlight1{background:#ffffc2;text-transform:uppercase;}
.highlight2{background:#EEE;text-transform:uppercase;}
.highlight3{background:#a1a1a1;text-transform:uppercase;}
.bold0{color:#CEEAFA;font-weight:bold;}
.bold1{color:Red;font-weight:bold;font-size:larger;}
.bold2{color:Yellow;font-weight:bold;font-size:13px;}
.bold3{color:Green;font-weight:bolder;font-size:larger;}

/*----Common part-HtmlControls's style*/
input.text100{width:100px;}
input.text50{width:50px;}
input.text80{width:80px;}
input.text200{width:200px;}			

textarea.simple
{
	overflow:auto;
	background:#eee;
	border:2px solid #ccc;
	padding:2px;
	font-size:12px;
	width:186px;
}	

/*-------fieldset---------*/
fieldset.simple{font-size:12px;}
fieldset.simple legend{color:#4FBEDB;}
fieldset.simple label
{
	font-weight:bold;
	color:#4FBEDB;
}
fieldset.simple label.inputTitle
{
	display:block;
	height:22px;
	line-height:20px;
	width:70px;
	overflow:hidden;
}
fieldset.simple table
{
	border:1px solid #ccc;
	padding:0px;
}
div.memoSummary
{
	background:#eee;
	border:0 solid #ccc;
	padding:0px;
	font-size:12px;
	color:#4FBEDB;
	cursor:pointer;
	width:190px;
	height:20px;
	margin-top:2px;
	overflow:hidden;
}
div.error{color:Red;min-height:16px;background:url(img/warning.gif) no-repeat;}
div.error span{padding-left:17px;}
em.error{color:#F25D01;}
label.error{color:Red; max-width:150px;overflow:scroll;}
.simple_form{font-size:12px;background:#fff; border:1px #ddd solid; padding:5px;*zoom:1;}
.simple_form p{margin-bottom:10px;_zoom:1;}
.simple_form p label.for_label,.simple_form p label.for_label1{ display:block;float:left; text-align:right; font-size:12px; line-height:1.5;}
.simple_form p label.for_label{width:80px;}
.simple_form p label.for_label1{width:100px;} 
.simple_form p input.f_txt,.simple_form p textarea{ width:200px;}
.simple_form p input.cur{border-bottom:1px solid red;}
.simple_form p input.error{background:url(img/unchecked.gif) no-repeat;background-position:right;color:Red;}
.simple_form p input.valid{background:url(img/checked.gif) no-repeat;background-position:right;color:Green;}
.simple_form p textarea.cur{border-bottom:1px solid red;}

.item-block {
border-bottom:1px solid #DFDFDF;
color:#B5CAD0;
width:32%;
float:left;
background:#fff;
margin-top:5px;
margin-right:5px;
padding:10px 5px;
}
.item-block-details {
display:inline;
}
.item-block-subtitle a{
color:#fff;
background:#F489A7;
padding:0px 2px;
text-transform:uppercase;
}
.item-block-subtitle a:hover {
color:#4A586C; text-decoration:none;
}

.item-block-title {
line-height:1.1;
}



/*/admin.global*/

/*----------------------------
						Layout
----------------------------*/
#bodyC{background:#959595;}
#bodyInner{width:96%;margin:0 auto;}

#footer {
	font-size: .9em;
	background-color: #959595;
	color: white;
	width: 100%;
	height: 25px;
	line-height:25px;
	text-align:right;
	font-weight: bold;
}

#footer a {
	color: White;
	margin-right: 10px
}

.rightSidebar {
	width: 210px;
	background-color: #F1F1F1;
	border-style: solid;
	border-width: 1px;
	border-color: #B8C1CA;
	padding: 10px 10px 10px 10px;
	background-color: #F1F1F1;
	margin-right: 15px;
	margin-top: 30px;
}

.banner {
	width: 100%;
	background-color: #F1F1F1;
	border-bottom: solid 4px #959595;
}

.banner h1 {
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	margin: 0px;
	letter-spacing: 1px;
	color: Silver;
	float:left;
	width:75%;
	height:50px;
	line-height:50px;
	text-align:center;
}

.banner h2 {
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	color: Silver;
}
.banner .topactions
{
	float:right;
	width:24%;
}
.banner .topactions a{margin-left:10px;line-height:50px;}
.main {
	border-style: solid;
	border-width: 1px;
	border-color: #B8C1CA;
	padding: 45px 10px 3px 10px;
	background-color: #F1F1F1;
	border-top: solid 1px #B8C1CA;
}

.settings {
	padding: 10px 10px 10px 10px;
	background: white;
	border: 1px solid silver;
	margin-bottom: 20px;
	margin-top: 20px;
}

.settings h1 {
	margin: 0 0 10px 0;
	border-bottom: 1px solid silver;
}

.settings label {
	float: left;
	width: 200px;
	line-height:1.5;
}

.nowidth label {
	float: none;
	width: 0px;
}

td.label{
	vertical-align: top;
	padding-top: 5px;
}

.settings span label{
	float: none;
	display: inline;
	width: auto;
	padding-right: 20px;	
}

.settings span input[type="radio"]{
	border: none;
}

/*----------------------------
					Referrers
----------------------------*/

table.referrer td {
	padding: 2px 0;
	border-bottom: 1px solid silver;
}

table.referrer tr.alt td {
	background-color: White;
}

table.referrer caption {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 8px;
  display: block;
}

/*----------------------------
					Category
----------------------------*/

.category td {
	padding: 2px 10px;
  vertical-align: top;
}

.category td input {
	width: 200px;
}

.category td textarea {
	height: 70px;
	width: 400px;
}

/*- Menu Tabs --------------------------- */

.tabs .current {
	font-weight: bolder;
	color: Blue;
	border-bottom: solid 1px #F1F1F1;
}

.tabs {
	width: 100%;
	background: #FFFFFF;
	font-size: 93%;
	line-height: normal;
	border-bottom:solid 1px #B8C1CA;
}

.tabs ul {
	padding: 10px 10px 0 50px;
	position: relative;
	top: 1px;
}

.tabs li {
	display: inline;
}

.tabs a {
	float: left;
	background: url( "img/tableftB.gif" ) no-repeat left top;
	padding: 0 0 0 4px;
	text-decoration: none;
	text-transform: capitalize;
	cursor:pointer;
}

.tabs a span {
	float: left;
	display: block;
	background: url( "img/tabrightB.gif" ) no-repeat right top;
	padding: 5px 15px 4px 6px;
	color: #666;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.tabs a span {
	float: none;
}

/* End IE5-Mac hack */
.tabs a:hover span {
	color: #000;
}

.tabs a:hover {
	background-position: 0% -42px;
}

.tabs a:hover span {
	background-position: 100% -42px;
}

/*-------------*/

.main input[type="submit"], .main input[type="button"] {
	color: #000000;
	background: #FFFFFF;
	border: 1px solid #B8C1CA;
}


.main input[type="submit"]:hover {
	color: #FFFFFF;
	background: #B8C1CA;
	cursor: pointer;
}

.settings input[type="submit"], .settings input[type="button"] {
	color: #666;
	background: #F1F1F1;
	border: 1px solid #B8C1CA;
}

.settings input[type="submit"]:hover, .settings input[type="button"]:hover {
	color: #FFFFFF;
	background: #B8C1CA;
	cursor: pointer;
}

input, select, textarea {
	color: #666;
	background: #FFFFFF;
	border: 1px solid #B8C1CA;
}

input[type="file"]:hover {
	cursor: pointer;
}

input[type="checkbox"] {
	border: none;
	background: none;
}

.info {
	background: url(img/info.gif) right top no-repeat;
	padding:15px 50px 10px 15px;
	border: 1px solid #ccc; 
}

/* Extension settings */
.mgr input, select {
    margin: 5px 0 5px 0;
}
.mgrRadioList {
    border: 1px solid #ccc;
    margin: 5px 0 5px 0;
}
.mgrRadioList td {
    height:25px; 
    display:table-cell;
}
.mgrRadioList input {
    float:left; 
    width: 20px; 
    height: 20px; 
    border:0; 
}
.mgrRadioList label {
    display:inline-table; 
    float:right; 
    height:20px; 
    width:100px; 
    margin:7px 0 0 5px;
}
.mgrCheck {
    margin-top: 6px; 
    padding-right:5px; 
}
.mgrCheckLbl {
    margin-bottom:8px;
}
/*-----------------------------*/

#tagselector{
	background: white;
	border: 3px solid gray;
	width: 500px;	
	position: absolute;
	left: 553px;
	bottom: 40px;
	padding-bottom: 10px
}

#tagselector a{
	display: block;
	float: left;
	margin-right: 10px;
	padding: 2px 4px;
}

/*common css for admin*/
/*inputs*/
.bt_sub2,.bt_sub2:focus,.bt_sub4,.bt_sub4:focus{ font-size:12px;height:21px; color:#fff; border:0; text-align:center; line-height:21px; cursor:pointer;}
.bt_cancle2,.bt_cancle2:focus,.bt_cancle4,.bt_cancle4:focus{ font-size:12px;height:21px; color:#333; border:0; text-align:center;line-height:21px;cursor:pointer;}

.bt_sub2,.bt_sub2:focus{ background:url('img/bg_sprit2.gif') 0 -482px no-repeat; width:45px; }
.bt_sub4,.bt_sub4:focus{ background:url('img/bg_sprit2.gif') -55px -482px no-repeat; width:63px; }
.bt_cancle2,.bt_cancle2:focus{background:url('img/bg_sprit2.gif') 0 -524px no-repeat; width:45px; }
.bt_cancle4,.bt_cancle4:focus{background:url('img/bg_sprit2.gif') -55px -524px no-repeat; width:63px; }
.bt_cancle4w,.bt_cancle4w:focus{background:url('img/bg_sprit2.gif') -196px -536px no-repeat; width:63px; }

@-moz-document url-prefix(){input.bt_sub2,input.bt_cancle2,input.bt_sub4 { padding-bottom:2px; }}

textarea{border-color:#7C7C7C #ccc #ccc #ddd;border-style:solid;border-width:1px;  font-weight:inherit;line-height:1.2; overflow:auto; padding:2px; font-size:12px;}
select{border-color:#7C7C7C #ccc #ccc #ddd;border-style:solid;border-width:1px; font-weight:inherit; line-height:1.2; overflow:auto; height:22px;*height:21px;padding:1px 1px 1px 0;-moz-box-sizing:padding-box;}

.f_txt0,.f_txt{ border-width:1px; border-style:solid; border-color:#7c7c7c #ccc #ddd #ccc;  padding:2px 0 0 2px; font-size:12px;}
.f_txt2{ border-width:1px; border-style:solid; border-color:#7c7c7c #ccc #ddd #ccc;  padding:3px 0 3px 2px; font-size:14px;}

.bt_sub2w,.bt_sub2w:focus,.bt_sub3w,.bt_sub3w:focus,.bt_sub4w,.bt_sub4w:focus{height:27px; color:#fff; border:0; text-align:center;line-height:28px; cursor:pointer; font-size:14px;padding-bottom:2px;*padding-bottom:0; }
.bt_cancle4w,.bt_cancle4w:focus{height:27px; color:#999; border:0; text-align:center;line-height:28px; cursor:pointer; font-size:14px;padding-bottom:2px;*padding-bottom:0;}

.bt_sub2w,.bt_sub2w:focus{ background:url('img/bg_sprit2.gif') -129px -482px no-repeat; width:50px; }
.bt_sub3w,.bt_sub3w:focus{ background:url('img/bg_sprit2.gif') -129px -509px no-repeat; width:57px;}
.bt_sub4w,.bt_sub4w:focus{ background:url('img/bg_sprit2.gif') -129px -536px no-repeat; width:67px;}

input:focus,textarea:focus{ border-color:#008DE2 #75CBFF #75CBFF #95D7FF; border-width:1px; border-style:solid; }
.ie_hover{ border-color:#008DE2 #75CBFF #75CBFF #95D7FF;border-width:1px; border-style:solid; }
.ie_focus{ border-color:#008DE2 #75CBFF #75CBFF #95D7FF;border-width:1px; border-style:solid; } 

a.bt_links{color:#fff; text-decoration:none;  background:url('img/bg_sprit2.gif') 0 -906px no-repeat; float:left;padding-left:8px; cursor:pointer;}
a.bt_links span{  background:url('img/bg_sprit2.gif') 100% -906px no-repeat; float:left; height:27px; overflow:hidden; line-height:27px; padding-right:11px; position:relative; left:3px; font-size:14px;}
a.bt_links:hover{color:#fff; text-decoration:none;  background:url('img/bg_sprit2.gif') 0 -933px no-repeat; float:left;padding-left:8px; cursor:pointer;}
a.bt_links:hover span{  background:url('img/bg_sprit2.gif') 100% -933px no-repeat; float:left; height:27px; overflow:hidden; line-height:27px; padding-right:11px; }

a.cbuttonA{ text-decoration:none; color:#333; background:url('img/buttons.gif') 0 -124px no-repeat;float:left; padding:0 0 0 15px;  font-weight:bold; cursor:pointer;}
a.cbuttonA:hover{ color:#fff; text-decoration:none;background:url('img/buttons.gif') 0 -155px no-repeat; float:left; cursor:pointer;}
a.cbuttonA span{ background:url('img/buttons.gif') 100% -124px no-repeat; padding:0 40px 0 0 ; float:left; height:30px; line-height:28px;*line-height:30px; font-size:12px;}
a.cbuttonA:hover span{color:#fff; text-decoration:none;background:url('img/buttons.gif') 100% -155px no-repeat; float:left;}

a.cbuttonB{ text-decoration:none; color:#333; background:url('img/buttons.gif') 0 0 no-repeat;float:left; padding:0 0 0 15px;  font-weight:bold; cursor:pointer;}
a.cbuttonB:hover{ color:#fff; text-decoration:none;background:url('img/buttons.gif') 0 -31px no-repeat; float:left; cursor:pointer;}
a.cbuttonB span{ background:url('img/buttons.gif') 100% 0 no-repeat; padding:0 40px 0 0 ; float:left; height:30px; line-height:28px;*line-height:30px; font-size:12px;}
a.cbuttonB:hover span{color:#fff; text-decoration:none;background:url('img/buttons.gif') 100% -31px no-repeat; float:left;}

a.bt_delete{  color:#bbb; background:url('img/close.gif') 0 -26px no-repeat; padding-left:18px;}
a.bt_delete:hover{ color:#f00; }
a.bt_delete:hover{ background-position:0 -13px;}

/*--=====================Custom css for jqModal=-===============-=-=-=-=*/
.dialog_jqm{text-align:left; position:fixed;top: 35%;left: 35%;width:495px; display:none;z-index:10005;}
.dialog_sharp{ background:#000; padding:7px; filter: alpha(opacity=50);-moz-opacity: 0.50; opacity:0.5; position:absolute; z-index:1; top:-7px; left:-7px;}
.dialog_main{ background:#fafafa; position:relative; z-index:3;}
.dialog_main p.close{ position:absolute; top:8px; right:8px;}
.dialog_main p.close a{ display:block; overflow:hidden; width:13px; height:13px; background:url(img/close2.gif) 0 0 no-repeat; text-indent:-999em;}
.dialog_main p.close a:hover{  background-position:0 -13px;}
.dialog_main h3{ font-size:14px; color:#fff; background:#FFA95E; height:32px; line-height:32px; padding-left:10px; border:1px #555 solid; border-bottom:none;}
.dialog_content{ padding:10px; border-left:1px #555 solid; border-right:1px #555 solid; border-bottom:1px #ccc solid;}
.dialog_content .msg_tips{ margin:0 0 10px 0; width:435px;}
.dialog_content p.loading{ color:#333; font-size:12px; background:url(img/loading.gif) 0 3px no-repeat; padding-left:22px; line-height:2;}

.dialog_acts{ padding:10px;border-left:1px #555 solid; border-right:1px #555 solid; border-bottom:1px #ccc solid;}
.dialog_acts input{ font-size:12px;}

.dialog_content .dlg_clt ul.tabs{ font-size:12px; overflow:hidden; zoom:1; position:relative; top:1px;}
.dialog_content .dlg_clt ul.tabs li{ color:#333; display:inline; float:left; margin-right:5px;  padding:6px; *zoom:1;}
.dialog_content .dlg_clt ul.tabs li a{ text-decoration:underline;}
.dialog_content .dlg_clt ul.tabs li.current{ background:#fff; border:1px #ddd solid; border-bottom:none; color:#999;}
.dialog_content .dlg_clt ul.tabs li.current a{ text-decoration:none; color:#000; font-weight:bold; }
.dialog_content .dlg_clt ul.tabs li a:hover{ text-decoration:none;}

.dialog_content .dlg_digg ul.tabs{ margin-left:10px;}
.dialog_content .dlg_digg ul.tabs li.current{ background:#fafafa;}

.dialog_content .alert strong{ font-size:14px; line-height:2; padding-left:22px;}
.dialog_content .alert_ok strong{ color:#090;background:url(img/ok.gif) 0 0 no-repeat; }
.dialog_content .alert_error strong{ color:#d90000;background:url(img/icons.gif) 0 -769px no-repeat;}
.dialog_content .alert p{ font-size:12px; line-height:2;}
.dialog_content .alert p a{ text-decoration:underline; padding:2px;}
.dialog_content .alert p a:hover{ background:#36c; color:#fff; text-decoration:none;}

.dialog_content .popup_login{ font-size:12px;}
.dialog_content .popup_login p{ margin-bottom:15px;_zoom:1;}
.dialog_content .popup_login p a.forgetpwd{ margin-left:10px;}
.dialog_content .popup_login p label.for_label{ width:100px; float:left;  display:block; line-height:2.5; text-align:right;}
.dialog_content .popup_login input.f_txt2{ width:260px;}
.dialog_content .popup_login label.f_check{ color:#666; padding-left:100px;}
.dialog_content .popup_login p.act{ padding-left:100px;}

.jqDrag{ position:absolute; z-index:4; top:0px;left:0px; height:32px;  width:96%; cursor:move;}
.dialog_sharp{width:495px;height:100%;}
/*IE6 fix.fuck away IE6 man!*/
* html .dialog_jqm {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
/*-====----------=-=--=!endof Custom css for jqModal-------------===--------------==-=-=*/