#contentA{width:980px;height:376px;margin:50px auto;}
#mSlide{width:980px;position:relative;}
#mSlide .lv_main{position:relative;overflow:hidden;width:980px;}
#mSlide .lv_main_{width:1300px;}
#mSlide .left{position:relative;width:260px;}
#mSlide .lv_item{float:left;width:50%;}
#mSlide .lv_item a{display:block;width:120px;padding:5px;background:#000;}
#mSlide .lv_item img{display:block;width:120px;height:165px;}
#mSlide .lv_slider{background:#000;height:21px;padding-top:5px;}
#mSlide .lv_cover{position:absolute;display:none;width:100%;height:100%;z-index:10;}
#mSlide .lv_zoom,#mSlide .lv_zoom img{display:block;width:250px;height:340px;}
#mSlide .lv_zoom{padding:5px;background:#000;}
#mSlide .lv_ovl,#mSlide .lv_note{position:absolute;bottom:0;left:0;height:70px;width:250px;padding:5px;z-index:4;overflow:hidden;}
#mSlide .lv_ovl{background:#000;z-index:3;opacity:.5;}
#mSlide .lv_play{position:absolute;background:url("../img/lv_icon.gif") 0 -48px no-repeat;width:49px;height:49px;left:15px;top:15px;}
#mSlide .lv_play:hover{background-position:0 -97px;}
#mSlide .lv_t{padding:3px 3px 3px 65px;color:#fff;text-align:left;}
#mSlide .lv_t0{font-size:14px;font-weight:bold;}
#mSlide .lv_t1{line-height:20px;}
#mSlide .lv_loading{position:absolute;display:none;height:32px;width:32px;top:159px;left:114px;}
/*
#mSlide .ui-slider-horizontal .ui-slider-handle{width:128px;height:14px;margin-left:0;top:0;background:url("../img/lv_icon.gif") 0 0 no-repeat;}
#mSlide .ui-slider-horizontal .ui-slider-handle:hover{background-position:0 -16px;}
#mSlide .ui-corner-all{-moz-border-radius:0 0 0 0;}
#mSlide .ui-widget-content{border:none;}
#mSlide .ui-slider-horizontal{height:15px;width:970px;margin:0 auto;background:url("../img/lv_icon.gif") 0 -32px no-repeat;}
*/
#mSlide .lv_slider_{position:relative;height:15px;width:970px;margin:0 auto;background:url("../img/lv_icon.gif") 0 -32px no-repeat;text-align:left;}
#mSlide .lv_slider_hdl{cursor:default;position:absolute;width:128px;height:14px;margin-left:0;top:0;background:url("../img/lv_icon.gif") 0 0 no-repeat;z-index:2;}
#mSlide .lv_slider_hdl:hover{background-position:0 -16px;}