#contentA,#contentB{width:980px;height:376px;margin:50px auto;}
#mSlide{width:980px;position:relative;}
#mSlide .lv_main{position:relative;overflow:hidden;width:980px;}
#mSlide .lv_main_{width:1300px;}
#mSlide .left{position:relative;width:260px;}
#mSlide .lv_item{float:left;width:50%;position:relative;z-index:1;}
#mSlide .lv_item a{display:block;width:120px;padding:5px;background:#000;}
#mSlide .lv_item img{display:block;width:120px;height:165px;}
#mSlide .lv_slider{background:#000;height:21px;padding-top:5px;}
#mSlide .lv_cover{position:absolute;display:none;width:100%;height:100%;z-index:10;top:0;left:0;}
#mSlide .lv_zoom,#mSlide .lv_zoom img{display:block;width:250px;height:340px;}
#mSlide .lv_zoom{padding:5px;background:#000;}
#mSlide .lv_ovl,#mSlide .lv_note{position:absolute;bottom:0;left:0;height:70px;width:250px;padding:5px;z-index:4;overflow:hidden;}
#mSlide .lv_ovl{background:#000;z-index:3;opacity:.5;}

#mSlide .lv_play{position:absolute;background:url("../img/lv_play.png") no-repeat;width:49px;height:49px;left:15px;top:15px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="http://i.mdc.sohu.com/levinhuang/focusImg/m/img/lv_play.png");}
#mSlide .lv_play:hover{background:url("../img/lv_play1.png") no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='http://i.mdc.sohu.com/levinhuang/focusImg/m/img/lv_play1.png');}
#mSlide .lv_t{padding:3px 3px 3px 65px;color:#fff;text-align:left;}
#mSlide .lv_t0{font-size:14px;font-weight:bold;}
#mSlide .lv_t1{line-height:20px;}
#mSlide .lv_loading{position:absolute;display:none;height:32px;width:32px;top:159px;left:114px;}
#mSlide .lv_slider_{position:relative;height:15px;width:970px;margin:0 auto;background:url("../img/lv_sbg.gif") no-repeat;text-align:left;}
#mSlide .lv_slider_hdl{cursor:default;position:absolute;width:128px;height:14px;margin-left:0;top:0;background:url("../img/lv_hdl.gif") no-repeat;z-index:2;}
#mSlide .lv_slider_hdl:hover{background:url("../img/lv_hdl1.gif") no-repeat;}


#mSlide1{width:980px;position:relative;}
#mSlide1 .lv_main{position:relative;overflow:hidden;width:980px;}
#mSlide1 .lv_main_{width:2300px;height:350px;}
/* 缩略图 */
#mSlide1 .lv_item{position:absolute;}
#mSlide1 .lv_item a{display:block;width:120px;padding:5px;background:#000;}
#mSlide1 .lv_item img{display:block;width:120px;height:165px;}
/* 放大图 */
#mSlide1 .lv_zoom a,#mSlide1 .lv_zoom img{width:250px;height:340px;}

/* 滚动条 */
#mSlide1 .lv_slider{background:#000;height:21px;padding-top:5px;}
#mSlide1 .lv_slider_{position:relative;height:15px;width:970px;margin:0 auto;background:url("../img/lv_sbg.gif") no-repeat;text-align:left;}
#mSlide1 .lv_slider_hdl{cursor:default;position:absolute;width:128px;height:14px;margin-left:0;top:0;background:url("../img/lv_hdl.gif") no-repeat;z-index:2;}
#mSlide1 .lv_slider_hdl:hover{background:url("../img/lv_hdl1.gif") no-repeat;}

#mSlide1 .lv_loading{position:absolute;display:none;height:32px;width:32px;top:159px;left:114px;}