<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data/App.log.txt" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFile value="true" />
    <encoding value="utf-8" />
    <maxSizeRollBackups value="3" />
    <maximumFileSize value="800KB" />
    <rollingStyle value="Size" />
    <staticLogFileName value="true" />
    <!--
      <layout type="log4net.Layout.SimpleLayout" />
      -->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message %newline" />
    </layout>


  </appender>
  <root>
    <level value="INFO" />
    <!--
		ALL 
		DEBUG 
		INFO
		WARN
		ERROR
		FATAL
		OFF
		
		-->

    <appender-ref ref="RollingLogFileAppender" />

    <!-- 
      <appender-ref ref="HttpTraceAppender" />
		<appender-ref ref="RollingLogFileAppender" /> 
		<appender-ref ref="LogFileAppender" />
		-->
  </root>
</log4net>
