/****************************************************
  FOUNDATIONS: Base Containers  
****************************************************/
html {
	font-family: Arial, Verdana, Sans-Serif;
}

/****************************************************
  Stuff To Hide  
****************************************************/
#lightview, #main-nav, #feature { 
  display: none;
}