/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
.cls,.box.lo{zoom:1;}
.cls:after,.box:after,.lo:after{content:'\20';display:block;clear:both;}

/* layout */
.wrap{width:980px;margin:0 auto;}
.wrap_inside{margin:10px 0; padding:10px;}
/* default two columns layout with sidebar left */
.lo{margin-left:175px;height:100%;}
.lo .lo_L{float:left;margin:0 10px 15px -175px;width:155px;min-height:300px;height:auto !important;height:300px;}
.lo .lo_R{float:left;width:100%;min-height:300px;height:auto !important;height:300px;}


/* elements */
a{text-decoration:none;color:#333;}
a.btn{line-height:15px;padding:3px 10px;white-space:nowrap;}
.btn{-moz-border-radius:11px 11px 11px 11px;-moz-box-sizing:content-box;border-style:solid;border-width:1px;cursor:pointer;line-height:13px;padding:3px 8px;}
input[type="checkbox"], input[type="radio"] {vertical-align:middle;margin-right:4px;}
textarea, input, select {margin:1px;padding:3px;font-size:93%;}
input, select {line-height:15px;}
textarea, input[type="text"], input[type="password"], input[type="file"], select {-moz-border-radius:4px 4px 4px 4px;border-style:solid;border-width:1px;}
input[type="text"], input[type="password"], textarea {-moz-box-sizing:border-box;}
label{vertical-align:middle;cursor:pointer;}

/* color & font */
body{background:#000;font-size:12px;}
h1,h2,h3{font-size:1.8em;font-weight:bold;}
h2{font-size:1.4em;}
h3{font-size:1.2em;}
.wrap{background:#dfdfdf;}
.wrap_inside{border:1px solid #eee;}
