body.postdetail #m300_left{background:#fff;}
/*------postnavigation-------*/
#postnavigation span.next{background:url(img/next.gif) top right no-repeat;padding-right:37px;float:right;line-height:27px;}
#postnavigation span.prev{background:url(img/prev.gif) top left no-repeat;padding-left:37px;float:left;line-height:27px;}
/*------postinfo side bar------*/
.sec_side{margin-top:15px;margin-left:12.36px;margin-right:12.36px;}
.sec_side h4{font-size:0.8em;}
#post_info p.icon{margin-right:12.36px;margin-bottom:18.52px;}
#post_info .userinfo
{
    color:#333333;
    font-size:12px;
    margin:10px 0 5px;
    position:relative;   
}
#post_info .userinfo li{line-height:22px;}
#post_info .userinfo li span{color:#999999;}

/*------commentform-------*/
#CommentForm1
{
background:none repeat scroll 0 0 #FFFFFF;
border:1px solid #CFCFCF;
margin:0 0 28px;
padding:1px;    
}
#CommentForm1 .content
{
background:url("img/box-bgr.gif") repeat-x scroll center top #FFFFFF;
height:1%;
padding:18px;    
}
#CommentForm1 h2
{
color:#222222;
font-size:1.5em;
font-weight:normal;
letter-spacing:-1px;
margin:0 0 1em;    
}
#CommentForm1 .fl{min-width:80px;}
#CommentForm1 .fl div{margin-bottom:3.82px;}
#CommentForm1 .pic img{border:1px solid #CFCFCF;display:block;}
#CommentForm1 .message input,#CommentForm1 .message select,#CommentForm1 .message textarea{
    border:1px solid #CFCFCF;
    color:#404040;
    font-family:Arial,Verdana,Helvetica,sans-serif;
    font-size:12px; 
    padding:2px;   
}
#CommentForm1 .message input,#CommentForm1 .message textarea{padding:9px 15px;width:96%;}
#CommentForm1 .message input.wp48{width:48%;}
#CommentForm1 .notice
{
    color:#A4A4A4;
float:right;
font-style:italic;
padding:10px 0 0;
}
#submit{color:#FFF;line-height:25px;padding:3.82px;background:#4DA1B5;font-size:1.1em;}
#submit:hover{color:#F2C3E0;text-transform:uppercase;}
#CommentForm1 .message div{margin:0 0 12.36px;}
/*------/commentform-------*/
