
#contentAccordion h3{
	background:#F4F4F4;
	font-size:14px;
	font-weight:bold;
	text-align:left;
}
#contentAccordion .ct{
	padding:10px;
}

.slider .act{position:relative;width:10px;height:216px;}
.slider .act a{position:absolute;display:block;top:50%;margin-top:-21px;}
.slider .btnLeft{left:0;}
.slider .btnRight{right:0;}	

#ctFocusImg{height:200px; overflow:hidden;}
#ctFocusImg ul{position:relative;width:356px;margin-left:8px;overflow:hidden;}
#ctFocusImg li img{padding:4px;border:1px solid #809DB9;}
#ctFocusImg li{position:relative;float:left;display:inline;padding-bottom:8px;padding-right:8px;}
#ctFocusImg .act{height:216px;}

#ctImg{text-align:left;}
#ctImg ul{width:420px;}
#ctImg li{float:left;display:inline;padding-bottom:8px;padding-right:16px;}
#ctImg li img{padding:3px;border:1px solid #809DB9;}

#ctText{height:164px;overflow:hidden;}
#ctText ul{width:356px;margin-left:8px;}
#ctText li{float:left;display:inline;padding-bottom:8px;padding-right:8px;}
#ctText li img{padding:4px;border:1px solid #809DB9;}
#ctText .act{height:148px;}

.ct_act{text-align:left;margin-top:10px;}
