#web_loading{
background:none repeat scroll 0 0 #FF0000;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
padding:3px;
position:fixed;
_position:absolute;
right:0;
top:0;
width:60px;
z-index:60;
}
#contentAccordion{width:590px;}
#contentAccordion h3{
	background:#F4F4F4;
	font-size:14px;
	font-weight:bold;
	text-align:left;
}
#contentAccordion .ct{
	padding:10px;
}
#contentAccordion .tab{
	height:200px;
}
.slider .act{position:relative;width:10px;height:216px;}
.slider .act a{position:absolute;display:block;top:50%;margin-top:-21px;}
.slider .btnLeft{left:0;}
.slider .btnRight{right:0;}	
.ct li img{border:1px solid #809DB9;cursor:pointer;}
.ct .on img{border-color:red;opacity:0.7;}
.item .ctWrap{display:none;}
#ctFocusImg{height:200px; overflow:hidden;}
   	#focusImgSlide{position:relative;width:356px;overflow:hidden;padding-left:8px;}
		#cSlide_focusImg{position:relative;width:2000px;}
		#cSlide_focusImg li img{padding:4px;}
		#cSlide_focusImg li{position:relative;float:left;display:inline;padding-bottom:8px;padding-right:8px;}
#ctImg{text-align:left;}
#ctImg ul{width:420px;}
#ctImg li{float:left;display:inline;padding-bottom:8px;padding-right:16px;}
#ctImg li img{padding:3px;}

#ctText{height:164px;overflow:hidden;}
	#textSlide{position:relative;width:356px;overflow:hidden;padding-left:8px;}
		#cSlide_text{position:relative;width:2000px;}
		#cSlide_text li img{padding:4px;}
		#cSlide_text li{position:relative;float:left;display:inline;padding-bottom:8px;padding-right:8px;}

#ctText .act{height:148px;}

.ct_act{text-align:left;margin-top:10px;}
#ctWrap{display:none;}
