.blank40{height: 40px;}
.titleA{position:relative; width:auto; height: 14px;  border-bottom:1px solid #666; text-align:left; padding:3px 5px 2px 9px; color:#F0F0EE;  background:url(../images/common.jpg) 0px -19px;}
.titleA h1 { float:left; font-weight:bold; vertical-align:middle; }
.titleA span { float:right; width:15px; height:13px;vertical-align:middle; }
a.close{position:absolute;top:3px;right:5px;display: block;background: url(../images/close.jpg) no-repeat top;	width: 15px;	height: 13px;}
a.close:hover{background-position: bottom;}
.btnLine{margin:0 auto; width: 105px; height:25px;}
.Btn {display: block; background: url(../images/ybtn.gif) top;width: 45px;height: 24px; border: 0px; cursor:pointer;}
.BtnM {background-position: bottom;}
.r1btn {display: block; background: url(../images/r1btn.gif) top;width: 22px;height: 30px;margin-top: 50px; border: 0px; cursor:pointer;}
.r1btnM {background-position: bottom; clear:both}
.l1btn {display: block; background: url(../images/l1btn.gif) top;width: 22px;height: 30px;margin-top: 50px; border: 0px; cursor:pointer;}
.l1btnM {background-position: bottom;}
.lineA,.lineA span{ margin:0 auto;  height:22px; vertical-align: middle; margin-top:5px;}
.width30{ width: 30px;}
.fontRed{color:#ff0000; width:205px; padding-left: 30px; text-align: left; height:20px;}
.ipt01,.ipt03{float:left; border-top:1px solid #A3A3A3; border-left:1px solid #A3A3A3; border-right:1px solid #E1E1E1; border-bottom:1px solid #E1E1E1;} 

#commonMsg{ width: 255px;}
#commonMsg .tip{ width:235px;padding:15px 0px 10px;}
#commonMsg span.icon{display:block; float:left; width:35px; height:40px;}
#commonMsg span.caution{background: url(../images/caution.jpg) center no-repeat;}
#commonMsg .txt p{ text-align:left;line-height: 20px; color:#373737;padding-left:40px;}

#picMsg{ width: 310px;padding-bottom:8px;}
#picMsg .titleA{ background:url(../images/common.jpg) 0px -95px;}
#picMsg .lineA .txt01,#addContent .lineC .txt01,#picMsg .lineA .txt02,#addContent .lineC .txt02,#addContent .lineC .txt04,#autoList .lineA .txt01,#spPub .lineA .txt01,#colHead .lineA .txt01{float:left; vertical-align: middle; line-height:20px;}
#picMsg .lineA .txt01{ width:35px; color:#383836}
#picMsg .lineA .ipt01,#addContent .lineC .ipt01{ width:26px;}
#picMsg .lineA .txt02{ width:20px;}
#picMsg .lineA .ipt02{ width: 16px; background:#8D8D8D; border: 0px; float:left; cursor:pointer;}
#picMsg .lineA .ipt03{ width: 195px; margin-top:4px;}
#picMsg .lineA .browse{ float:left;display: block; background: url(../images/ybtn.gif) top;width: 45px;height: 24px; border: 0px; cursor:pointer; margin-left:5px; }
#picMsg .lineA .selAuto{ float:left; width:62px;height:20px;font-size:12px; margin-left: 4px; margin-top: 2px;}


#txtMsg{ width:285px;padding-bottom:8px;}
#txtMsg .titleA{ background:url(../images/common.jpg) 0px -38px;}
#txtMsg .lineA .txt01{float:left; vertical-align: middle; line-height:20px; width:35px; color:#383836}
#txtMsg .lineA .ipt03{ width: 168px;}
#txtMsg .btnLine{margin-top:10px;}
#txtMsg .lineA .selAuto{ float:left; width:62px;height:20px;font-size:12px; margin-left: 4px;}
#txtMsg .wline{ margin:0 auto; width: 270px; height: 16px; }
#txtMsg .wline a{float:left; margin-right: 3px;}
.bottom2line{margin:0 auto; width:258px;height:0px; overflow:hidden;border-bottom: 1px solid #fff;border-top: 1px solid #d6d6d6;}


#addBlock{ width:430px;}
#addBlock .titleA{ background:url(../images/common.jpg) 0px -57px;}
#addBlock .lineB{ width:410px;  padding:15px 0px 15px 17px;}
#addBlock .lineB .block01,#addBlock .lineB .block01 a,#addBlock .lineB .block02,#addBlock .lineB .block02 a,#addBlock .lineB .block03,#addBlock .lineB .block03 a,#addBlock .lineB .block04,#addBlock .lineB .block04 a,#addBlock .lineB .block05,#addBlock .lineB .block05 a,#addBlock .lineB .block06,#addBlock .lineB .block06 a,#addBlock .lineB .block07,#addBlock .lineB .block07 a,#addBlock .lineB .block08,#addBlock .lineB .block08 a,#addBlock .lineB .block09,#addBlock .lineB .block09 a,#addBlock .lineB .block10,#addBlock .lineB .block10 a{ float:left; display:block; margin-right:5px;  _margin-right:5px; width: 192px;	height: 28px; margin-bottom: 10px; _margin-bottom: 10px; overflow:hidden;}
#addBlock .lineB .block01,#addBlock .lineB .block01 a{background: url(../images/addblock01.gif) 0px 0px no-repeat; overflow:hidden;}
#addBlock .lineB .block01 a:hover{background: url(../images/addblock02.gif) 0px 0px no-repeat;}
#addBlock .lineB .block02,#addBlock .lineB .block02 a{background: url(../images/addblock01.gif) 0px -28px no-repeat;}
#addBlock .lineB .block02 a:hover{background: url(../images/addblock02.gif) 0px -28px no-repeat;}
#addBlock .lineB .block03,#addBlock .lineB .block03 a{background: url(../images/addblock01.gif) 0px -56px no-repeat;}
#addBlock .lineB .block03 a:hover{background: url(../images/addblock02.gif) 0px -56px no-repeat;}
#addBlock .lineB .block04,#addBlock .lineB .block04 a{background: url(../images/addblock01.gif) 0px -84px no-repeat;}
#addBlock .lineB .block04 a:hover{background: url(../images/addblock02.gif) 0px -84px no-repeat;}
#addBlock .lineB .block05,#addBlock .lineB .block05 a{background: url(../images/addblock01.gif) 0px -112px no-repeat;}
#addBlock .lineB .block05 a:hover{background: url(../images/addblock02.gif) 0px -112px no-repeat;}
#addBlock .lineB .block06,#addBlock .lineB .block06 a{background: url(../images/addblock01.gif) 0px -140px no-repeat;}
#addBlock .lineB .block06 a:hover{background: url(../images/addblock02.gif) 0px -140px no-repeat;}
#addBlock .lineB .block07,#addBlock .lineB .block07 a{background: url(../images/addblock01.gif) 0px -168px no-repeat;}
#addBlock .lineB .block07 a:hover{background: url(../images/addblock02.gif) 0px -168px no-repeat;}
#addBlock .lineB .block08,#addBlock .lineB .block08 a{background: url(../images/addblock01.gif) 0px -196px no-repeat;}
#addBlock .lineB .block08 a:hover{background: url(../images/addblock02.gif) 0px -196px no-repeat;}
#addBlock .lineB .block09,#addBlock .lineB .block09 a{background: url(../images/addblock01.gif) 0px -224px no-repeat;}
#addBlock .lineB .block09 a:hover{background: url(../images/addblock02.gif) 0px -224px no-repeat;}
#addBlock .lineB .block10,#addBlock .lineB .block10 a{background: url(../images/addblock01.gif) 0px -252px no-repeat;}
#addBlock .lineB .block10 a:hover{background: url(../images/addblock02.gif) 0px -252px no-repeat;}

/***editbtn***/
.editBtn{float:left;display:inline-block;*display:inline;*zoom:1;}
.editBtn,.editBtn strong{overflow:hidden;height:19px;line-height:19px;line-height:19px\9;_line-height:34px;padding:0;border:0;font-size:12px;background:url(../images/btn0.png) no-repeat}
.editBtn{ margin:0 0 0.2em;padding:0 0 0 4px;vertical-align:middle;white-space:nowrap;cursor:pointer;cursor:hand}
.editBtn strong{display:block;*display:inline;*zoom:1;padding:0px;margin:0;color:#fff;background-position:right -21px;*vertical-align:top}
.editBtn:hover{background-position:0 -80px;text-decoration:none}
.editBtn:hover strong{background-position:right -101px;text-decoration:none}
.editBtn:active{background-position:0 -40px}
.editBtn:active strong{background-position:right -61px}
.editBtn:focus{background-position:0 -40px\0}
.editBtn:focus strong{background-position:right -61px\0}
/******/
.editBtn1,.editBtn1 strong{overflow:hidden;height:19px;line-height:19px;line-height:19px\9;_line-height:34px;padding:0;border:0;font-size:12px;background:url(../images/btn1.png) no-repeat}
.editBtn1{ margin:0 0 0.2em;padding:0 0 0 4px;}
.editBtn1 strong{display:block;*display:inline;*zoom:1;padding:0px;margin:0;color:#fff;background-position:right -61px;*vertical-align:top}

.editBtn3,.editBtn3 strong{width:30px; overflow:hidden;height:19px;line-height:19px;line-height:19px\9;_line-height:34px;padding:0;border:0;font-size:12px;background:url(../images/btn1.png) no-repeat}
.editBtn3{ margin:0 0 0.2em;padding:0 0 0 4px;}
.editBtn3 strong{display:block;*display:inline;*zoom:1;padding:0px;margin:0;color:#fff;background-position:right -61px;*vertical-align:top}


.editBtn2,.editBtn3 strong{width:22px; overflow:hidden;height:19px;line-height:19px;line-height:19px\9;_line-height:34px;padding:0;border:0;font-size:12px;background:url(../images/btn1.png) no-repeat}
.editBtn2{ margin:0 0 0.2em;padding:0 0 0 4px;}
.editBtn2 strong{display:block;*display:inline;*zoom:1;padding:0px;margin:0;color:#fff;background-position:right -61px;*vertical-align:top}
.editBtn2{float:left;display:inline-block;*display:inline;*zoom:1;}
.editBtn2,.editBtn2 strong{overflow:hidden;height:19px;line-height:19px;line-height:19px\9;_line-height:34px;padding:0;border:0;font-size:12px;background:url(../images/btn0.png) no-repeat}
.editBtn2{ margin:0 0 0.2em;padding:0 0 0 4px;vertical-align:middle;white-space:nowrap;cursor:pointer;cursor:hand}
.editBtn2:hover{background-position:0 -80px;text-decoration:none}
.editBtn2:hover strong{background-position:right -101px;text-decoration:none}
.editBtn2:active{background-position:0 -40px}
.editBtn2:active strong{background-position:right -61px}
.editBtn2:focus{background-position:0 -40px\0}
.editBtn2:focus strong{background-position:right -61px\0}


.two{float:left;  margin:0 2px;width:0;height:16px;border-left:1px solid #D6D6D6;border-right:1px solid #F7F7F7;vertical-align:middle;margin-left:5px;}

#changeStyle{ width:598px; height: auto; border:1px solid #666; background:#F0F0EE}
#changeStyle .titleA{ background:url(../images/common.jpg) 0px -0px;}
#changeStyle .lineC{margin:0 auto; width:570px;height:auto;border-bottom:1px solid #D6D6D6;vertical-align: middle;}
#changeStyle .tLine{border-top:1px solid #F7F7F7;}
#changeStyle .lineC h2{height:14px; text-align: left; vertical-align: middle; font-weight:bold; padding: 8px 0 8px 0; color:#000}
#changeStyle .lineC h2 img{ margin-right: 8px;}
#changeStyle .lineC .lineA{ vertical-align: middle; padding-bottom:8px;}
#changeStyle .lineC .txt01{ width:40px; text-align: right; padding-right:5px; color:#000}
#changeStyle .lineC .txt02{  padding-left:2px; color:#000}
#changeStyle .lineC .txt04{ float:left;padding-left: 5px; padding-right: 20px;vertical-align: middle; color:#000}
#changeStyle .lineC .lineA .cBox01{float:left;margin-left:15px;border:1px solid #F0F0EE;}
#changeStyle .lineC .lineA .Btn,#changeStyle .lineC .lineA .BtnM{ width:45px; height:24px;}
#changeStyle .lineC .wrapDiv{position: relative;}
#changeStyle .lineC .focusPic{margin:0 auto; width:570px;height:14px; text-align: left; vertical-align: middle;font-weight:bold;padding: 8px 0 8px 0; color:#000;}
#changeStyle .lineC .focusPic img{ margin-right: 8px;}
#changeStyle .lineC .classify{width: auto;height: 20px;	position: absolute; right: 1px;	top: 4px; z-index:10;}
#changeStyle .lineC .classify ul{width: auto;height: 20px; float:right}
#changeStyle .lineC .classify ul li{float:left; width: 52px; height: 20px; line-height: 20px; margin-left: 4px;_margin-left:3px;}
#changeStyle .lineC .classify ul li.now{ background: url(../images/pic07.gif) no-repeat;}
#changeStyle .lineC .wrap01{width:570px; height:auto;}
#changeStyle .lineC .wrap01 .left,#changeStyle .lineC .wrap01 .right{ width: 22px; height: 150px;}
#changeStyle .lineC .wrap01 .left img,#changeStyle .lineC .wrap01 .right img{ width:22px;height:30px; margin-top: 70px;}
#changeStyle .lineC .wrap01 .center,#changeStyle .lineC .wrap01 .center ul{ width:516px; height:178px;}
#changeStyle .lineC .wrap01 .center{ padding-left: 10px; _padding-left:10px;overflow:hidden}
/**±³¾°Çé¿ö #addContent .lineC .wrap01 .center ul li{float:left; width:162px; height: 130px; margin-top: 10px; background: url(../images/picbg.gif) top center no-repeat; margin-right:10px;}**/
/**#addContent .lineC .wrap01 .center ul li img{ margin:0 auto; width:146px; height:102px; padding:7px 9px 9px 7px;}**/
#changeStyle .lineC .wrap01 .center ul li{float:left; width:162px; height: 163px; margin-top: 10px; margin-right:10px;}
#changeStyle .lineC .wrap01 .center ul li img{ margin:0 auto; width:146px; height:151px; padding:6px; border:1px solid #CBCBCB; background:#fff}
#changeStyle .lineC .wrap01 .center ul li a:hover img{border:1px solid #69C3E5 }
#changeStyle .lineC .wrap01 .center ul li span{margin:0 auto; width:162px; line-height: 20px;}
#changeStyle .lineC .wrap01 .rollDot{ clear: both;margin:0 auto; margin-left: 230px; padding-top:10px; margin-bottom:10px; width:100px; height: 7px; text-align: center;  }
#changeStyle .lineC .wrap01 .rollDot a{ float:left; width:7px; height:7px; margin-left:10px; overflow:hidden; text-indent:-9999px; background:url(../images/sohu-toolbar-sprite.png) no-repeat -190px -5px;}
#changeStyle .lineC .wrap01 .rollDot a.currA,#changeStyle .lineC .wrap01 .rollDot a:hover { background-position:-207px -5px; width: 7px; height: 7px; }
#changeStyle .lineC .wrap01 .left .r1btn,#changeStyle .lineC .wrap01 .right .r1btn{ margin-top: 70px;}



#spPub{ width:255px; height: auto; border:1px solid #666; background:#F0F0EE; padding-bottom: 8px;}
#spPub .titleA{ background:url(../images/common.jpg) 0px -19px;}
#spPub .lineA .txt01{width:50px; color:#383836; text-align:right; padding-right: 5px;}
#spPub .lineA .selAuto{float:left; width:61px;height:20px;font-size:12px; }
#spPub .lineA .ipt01{float:left; width:60px;font-size:12px; }

#pagePro{ width:405px; height: auto; border:1px solid #666; padding-bottom: 8px; background:#F0F0EE}
#pagePro .titleA{ background:url(../images/common.jpg) 0px -133px;}
#pagePro .lineA .txt01,#spPub .lineA .txt01{float:left; vertical-align: middle; line-height:20px;}
#pagePro .lineA .txt01{ width:80px; color:#383836; text-align:right; padding-right: 5px;}
#pagePro .lineA .ipt01{ width:305px;}
#pagePro .lineA .area01{ width:305px; height:50px;}
#pagePro .lineA .area01{ float:left; border: 0px;border-top:1px solid #A3A3A3; border-left:1px solid #A3A3A3; border-right:1px solid #E1E1E1; border-bottom:1px solid #E1E1E1;background:#fff }
.h60{ height: 60px;}
#pagePro .linep{ margin:0 auto;   height:22px; vertical-align: middle; margin-top:5px;padding-left:0px; width:230px;}


#autoList{ width:285px; height: auto; border:1px solid #666; background:#F0F0EE; padding-bottom: 8px;}
#autoList .titleA{ background:url(../images/common.jpg) 0px -38px;}
#autoList .lineA .txt01{ width:60px; color:#383836; text-align:right; padding-right: 5px;}
#autoList .lineA .txt02{float:left; width:20px; color:#383836; text-align:right; padding-right: 5px;}
#autoList .lineA .ipt01{ width:200px;}
#autoList .lineA .selAuto{float:left; width:203px;height:20px;font-size:12px; }
#autoList .lineA .selAuto1{float:left; width:89px;height:20px;font-size:12px; }
.bottom1line{margin:0 auto; width:258px;height:0px; overflow:hidden;border-bottom: 1px solid #fff;border-top: 1px solid #d6d6d6; margin-top: 5px;}











#colHead{ width:285px; height: auto; border:1px solid #666;padding-bottom:8px; background:#F0F0EE}
#colHead .titleA{ background:url(../images/common.jpg) 0px -38px;}
#colHead .lineA .txt01{float:left; vertical-align: middle; line-height:20px; width:35px; color:#383836}
#colHead .lineA .ipt03{ width: 168px;}
#colHead .btnLine{margin-top:10px;}
#colHead .lineA .selAuto{ float:left; width:62px;height:20px;font-size:12px; margin-left: 4px;}
#colHead .wline{ margin:0 auto; width: 270px; height: 16px; }
#colHead .wline a{float:left; margin-right: 3px;}
.bottom3line{margin:0 auto; width:265px;height:0px; overflow:hidden;border-bottom: 1px solid #fff;border-top: 1px solid #d6d6d6;}
#colHead .lineA .ipt01{ width: 16px; background:#8D8D8D; border: 0px; float:left; cursor:pointer;}
#colHead .lineA .browse{ float:left;display: block; background: url(../images/ybtn.gif) top;width: 45px;height: 24px; border: 0px; cursor:pointer; margin-left:5px; }
.txt05{ float:left;padding-left: 5px; vertical-align: middle; color:#000; vertical-align: middle; margin-top: 3px;}
.cBox03{ float:left;  border:1px solid #F0F0EE; vertical-align: middle;}










#areaTools{position:fixed;_position:absolute;top:100px;right:60px; width:67px; border:1px solid #666; background:#F0F0EE}
#areaTools .titleA{ background:url(../images/common.jpg) 0px -114px;}
#areaTools .ctroArea{ width:55px; margin: 0 auto; margin-top: 10px; margin-bottom:10px;}
#areaTools .ctroArea a{ margin-bottom: 5px;}

/***editbtn***/
.ctroBtn{display:inline-block;*display:inline;*zoom:1; }
.ctroBtn,.ctroBtn strong{overflow:hidden;height:19px;line-height:19px;line-height:19px\9;_line-height:34px;padding:0;border:0;font-size:12px;background:url(../images/btn6.png) no-repeat;}
.ctroBtn{ margin:0 0 0.2em;padding:0 0 0 4px;vertical-align:middle;white-space:nowrap;cursor:pointer;cursor:hand}
.ctroBtn strong{display:block;*display:inline;*zoom:1;padding:0px;margin:0;color:#fff;background-position:right -21px;*vertical-align:top}
.ctroBtn:hover{background-position:0 -80px;text-decoration:none}
.ctroBtn:hover strong{background-position:right -101px;text-decoration:none}
.ctroBtn:active{background-position:0 -40px}
.ctroBtn:active strong{background-position:right -61px}
.ctroBtn:focus{background-position:0 -40px\0}
.ctroBtn:focus strong{background-position:right -61px\0}

/******/



/**hidBlock**/
#hidBlock{float:left; width:87px; height: 162px; border:1px solid #666; background:#F0F0EE;}
#hidBlock .left{ width: 80px; height: 162px; border-right:1px solid #ccc}
#hidBlock .left ul{ margin:0 auto; width:70px; margin-top: 10px; padding-left: 5px;}
#hidBlock .left ul li{width:70px; height:22px; margin-top: 5px; text-align: left;}
#hidBlock .left ul li a:hover{ text-decoration: none; }
/***hidbtn***/

.editBtn4{float:left;display:inline-block;*display:inline;*zoom:1;width:54px;padding-left:12px;}
.editBtn4,.editBtn4 strong{ width: 54px; height:22px;  font-weight: normal; text-align: left; padding-left:12px;overflow:hidden;height:19px;line-height:19px;line-height:19px\9;_line-height:19px;padding:0;border:0;font-size:12px;background:url(../images/hidbtn.jpg) no-repeat}
.editBtn4{ margin:0 0 0.2em;padding:0 0 0 4px;vertical-align:middle;white-space:nowrap;cursor:pointer;cursor:hand}
.editBtn4 strong{display:block;*display:inline;*zoom:1;padding:0px;margin:0;color:#000;background-position:right -21px;*vertical-align:top}
.editBtn4:hover{background-position:0 -80px;text-decoration:none}
.editBtn4:hover strong{background-position:right -101px;text-decoration:none}
.editBtn4:active{background-position:0 -40px}
.editBtn4:active strong{background-position:right -61px}
.editBtn4:focus{background-position:0 -40px\0}
.editBtn4:focus strong{background-position:right -61px\0}
/******/




/******/



#hidBlock .right{ width: 6px; height: 162px; background: url(../images/lr.jpg) 0 0 #D7D7D7; cursor: pointer;}
#hidBlock .ctr{ width: 6px; height: 162px; background: url(../images/lr.jpg) -7px 0 #D7D7D7; cursor: pointer;}
/******/

































