/* color picker */
.colorpicker{position:relative;z-index:1000;margin:0 auto;}

/* JQ-UI相关样式 */
.ui-widget-overlay{opacity:0.4;}
/* drag&drop style */
.ui-hl{height: 30px; line-height:30px;background:#ffffc2; }
#ctHandle{position:absolute;display:none;margin:0;top:-2px;right:-1px;width:16px;height:16px;overflow:hidden;z-index:101;cursor:move;}
/* 对话框 */
.ui-dialog .skform{width:100%;padding:10px 0;}
.ui-dialog .skform label{width:25%;}
.ui-dialog .skform .field{width:65%;}
/* |JQ-UI相关样式 */

/* =editable iframe= */
/*
iframe.editable{
display: block; float: none; clear: none; bottom: 0px; clip: auto; color: rgb(255, 255, 255); content: none; cursor: auto; direction: ltr; left: 0px; opacity: 1; overflow: visible; position: relative; quotes: "“" "”" "‘" "’"; right: 0px; top: 0px; visibility: visible; text-align: left; font: bold 24px/1.20833 Verdana,Tahoma,Arial,sans-serif; background: none repeat scroll 0% 0% transparent; letter-spacing: -0.483333px; vertical-align: baseline; z-index: 11; caption-side: top; counter-increment: none; counter-reset: none; empty-cells: show; list-style: none outside none; marker-offset: auto; min-height: 0px; min-width: 0px; outline: 0px none rgb(0, 0, 0); page-break-after: auto; page-break-before: auto; table-layout: auto; text-decoration: none; text-indent: 0px; text-shadow: none; text-transform: none; unicode-bidi: embed; white-space: normal; word-spacing: 0px; -moz-appearance: none; -moz-background-inline-policy: continuous; -moz-binding: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; -moz-border-radius: 0px 0px 0px 0px; -moz-box-align: stretch; -moz-box-direction: normal; -moz-box-flex: 0; -moz-box-orient: horizontal; -moz-box-ordinal-group: 1; -moz-box-pack: start; -moz-box-sizing: content-box; -moz-column-count: auto; -moz-column-width: auto; -moz-column-gap: 24px; -moz-float-edge: content-box; -moz-force-broken-image-icon: 0; -moz-image-region: auto; -moz-outline-radius: 0px 0px 0px 0px; outline-offset: 0px; -moz-user-focus: none; -moz-user-input: auto; -moz-user-modify: read-only; -moz-user-select: auto; ime-mode: auto; -moz-stack-sizing: stretch-to-fit; -moz-box-shadow: none; -moz-border-image: none; -moz-column-rule: 0px none rgb(255, 255, 255); word-wrap: normal; -moz-transform: none; -moz-transform-origin: 50% 50%; -moz-window-shadow: default; pointer-events: auto; height: 58px; width: 584px; border: 1px dashed rgb(68, 85, 170); max-width: inherit;
}
.editable{
	background-color:#FAFBFC;
}
*/
/* =/editable iframe= */

/* =#editMenu= */
#editMenu{display: block; position: absolute; height: 35px;width: 100%;top:35px; z-index: 999;}
	#editMenuIn{position:relative;width:356px;margin:0 auto;}
	#editMenuChild{margin: 0pt auto; width: 280px; position: relative; background: url("../img/menubar-c.gif") repeat-x scroll left bottom transparent; padding: 4px 15px 6px;}
	.menuitem{float:left;background:url("../img/menubar.gif") no-repeat;display:block;height:25px;width:25px;text-decoration:none;}
#editMenu .on{border-bottom:1px solid red;}	
	#menuitem-b {background-position: 0px 0; width:26px;}
	#menuitem-i {display:none;background-position: -26px 0; }
	#menuitem-u {background-position: -51px 0; }
	#menuitem-cc { background-position: -76px 0;width: 32px; }
	#menuitem-if { display:none;background-position: -108px 0; }
	#menuitem-df { display:none;background-position: -133px 0;width: 27px;margin-right: 12px; }
	#menuitem-cl { background-position: -160px 0; width: 28px; margin-right: 12px;}
	#menuitem-al { background-position: -188px 0;width: 26px; }
	#menuitem-ac { background-position: -214px 0; }
	#menuitem-ar { background-position: -239px 0; }
	#menuitem-af { background-position: -264px 0;width: 27px; margin-right: 12px; }
	#menuitem-ul { background-position: -291px 0;width: 26px; display: none; }
	#menuitem-ol { background-position: -317px 0;width: 27px; margin-right: 12px; display: none; }
	#menuitem-z { display:none;background-position: -344px 0; width: 26px;}
	#menuitem-r { display:none;background-position: -370px 0;width: 27px; }
	#menuitem-img,#menuitem-imgp,#menuitem-secHead{background:none;font-size:11px; margin-right:5px;border:1px solid #7EA3BF;}
	
	#menuitem-b:hover { background-position: -397px 0; }
	#menuitem-i:hover { background-position: -423px 0; }
	#menuitem-u:hover { background-position: -448px 0; }
	#menuitem-cc:hover { background-position: -473px 0; }
	#menuitem-if:hover { background-position: -505px 0; }
	#menuitem-df:hover { background-position: -530px 0; }
	#menuitem-cl:hover { background-position: -557px 0; }
	#menuitem-al:hover { background-position: -585px 0; }
	#menuitem-ac:hover { background-position: -611px 0; }
	#menuitem-ar:hover { background-position: -636px 0; }
	#menuitem-af:hover { background-position: -661px 0; }
	#menuitem-ul:hover { background-position: -688px 0; }
	#menuitem-ol:hover { background-position: -714px 0; }
	#menuitem-z:hover { background-position: -741px 0; }
	#menuitem-r:hover { background-position: -767px 0; }

	/* popup windows style */
	#editMenuIn .win{position:relative;display:none;width:356px;margin:0 auto;}
	#editMenuIn .skform{width:100%;padding:10px 0;}
	#editMenuIn .skform label{width:25%;}
	#editMenuIn .skform .field{width:65%;}
	
	#editMenuChild .bar_l,#editMenuChild .bar_r{width: 5px; height: 35px;position: absolute; bottom: 0px;}
	#editMenuChild .bar_l{ background: url("../img/menubar-l.gif") no-repeat scroll left bottom transparent;  left: 0px; margin-left: -5px;}
	#editMenuChild .bar_r{background: url("../img/menubar-r.gif") no-repeat scroll right bottom transparent; right: 0px; margin-right: -5px;}

	/* colorpicker wrapper */
	#editMenu .colorpicker{background-image:url("../images/custom_background.png");}
	/* Img property & SecHead cfg */
	#imgPro,#cfgSecHead{position:relative;}
	#imgPro .skform,#cfgSecHead .skform{position:relative;}
	#imgPro .cpk,#cfgSecHead .cpk{position:absolute;display:none;width:356px;top:20%;right:-250px;}	
	#cfgSecHead .cpk{top:20px;}
	
/* =/#editMenu= */

#wPageBG{position:relative;}
#wPageBG .cpk{position:absolute;display:none;width:356px;top:20%;right:10px;}

#wCfgSec{position:relative;}
#wCfgSec .cpk{position:absolute;display:none;width:356px;top:20%;right:10px;}

#wCode .acts{display:none;}

/* =Editor related style= */
.elm_gray{border:1px solid transparent;opacity:0.07;}
.elm_vshow{visibility:visible;}
.elm_vhide{visibility:hidden;}
/* =/Editor related style= */

/* =main= */
#scrollWrap{position: relative;margin-top:0 /*100px*/;overflow-y: scroll; overflow-x: auto;/*background:#444;text-align:left;*/}
/*v20100805
#mainWrap{background:#fff;width:960px;border:2px solid #ccc;margin:0 auto;}
#main{min-height:500px;height:auto !important;height:500px;}
*/
#main{width:960px;margin:0 auto;min-height:500px;height:auto !important;height:500px;}
.txtLoading{
background:none repeat scroll 0 0 #FF0000;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
padding:3px;
width:60px;
display:none;
}
.main{_position:absolute;}
.areaTools{position:fixed;_position:absolute;top:100px;right:60px;width:50px;border:1px solid #ccc;background:#f4f4f4;}
#pageTip{font-weight:bold;text-align:left;min-height:45px;height:auto !important;_height:45px;}
.confirm{color:blue;}
.alert{color:red;}
.areaTools li{padding:4px 0;line-height:16px;}
/* 分栏样式 -Editing */
/*.sec{border:1px solid transparent;}*/
.sec .elmOn{border:1px dotted #4455AA;/*background:#FFDBA8;*/}
.area_active .sec,.area_empty .sec{min-height:25px;height:auto !important;height:25px;border-color:#ccc;}
/*.area_active .subsec .sec,.area_empty .subsec .sec{border-bottom:none;}*/
/*.area_active .secOn,.area_active .subsec .secOn{border:1px solid #84ADDE;}*/
.area_active .ing,.area_active .subsec .ing{border-color:#FF0084;}
/* 内容样式-Editing */
.ct{position:relative;border:1px solid transparent;}
.area_active .ctOn{border-color:#FFDBA8;}
.col{overflow:hidden;}
/*分栏编辑器*/
.secEditor .actions{position:absolute;padding:3px 6px;border:1px solid #bbd2ea;border-bottom:none;z-index:300;height:18px;background:#e2ecf8;}
.secEditor .actions .r a{padding-left:4px;}
.secEditor .actions .l a{padding-right:4px;}
.secEditor .actions .secTip{font-size:98%;}
.secEditor .overlay{position:absolute;border:1px solid #bbd2ea;border-top:none;background:#e2ecf8;z-index:-100;}
/* 圆角效果-(已停用) */
.rounded{position:absolute;padding:6px;border:1px solid #84ADDE;z-index:300;}
	.corner{position:absolute;width:10px;height:10px;background:url(../img/rounded_bg.gif) no-repeat;}
		.tl{top:-1px;left:-1px;background-position:-1px -1px;}
		.tr{top:-1px;right:-1px;background-position:-12px -1px;}
		.bl{bottom:-1px;_bottom:-5px;left:-1px;background-position:-1px -12px;}
		.br{bottom:-1px;_bottom:-5px;right:-1px;background-position:-12px -12px;}
/* /圆角效果 */
.footer{border-top:none;padding-top:0;padding-bottom:0;height:9px;}
/* =/main= */

/*隐藏模板*/
#hiddenTemplate{display:none;}
	#elmTool{display:none;position:absolute;border:1px solid #ccc;width:90px;}
/*静态模板样式-横切选择模板*/
.area_selector{width:404px;height:220px;}
.area_selector ul{width:192px;padding:0;margin:0;}
.area_selector ul.col0{margin-right:10px;}
.area_selector li{margin-top:10px;width:190px;border:1px solid #c6deff;text-align:center;cursor:pointer;}
.area_selector li.on{border:1px dotted red;}
.area_selector div{float:left;padding:5px 0;border-left:1px solid #c6deff;}
.area_selector div.col0{border-left:none;}
	.w36{width:36px;}
	.w38{width:38px;}
	.w46{width:46px;}
	.w54{width:54px;}
	.w62{width:62px;}
	.w78{width:78px;}
	.w80{width:80px;}
	.w84{width:84px;}
	.w86{width:86px;}
	.w94{width:94px;}
	.w102{width:102px;}
	.w104{width:104px;}
	.w108{width:108px;}
	.w134{width:134px;}

/*内容模板*/
#content_selector{width:680px;height:360px;overflow:hidden;}
#ifContentList{width:100%;height:100%;border:none;}

/* 以下css样式为专题发布后的样式-TODO:移到单独的css文件 */

/* 分栏样式 */
.sec_hd{background:#ECF5FB;}
.sec_hd1{background:#E2E2E2;}
/* 碎片样式 */
.flash{z-index:1;}
.sp_space{margin-bottom:10px;}

.pre_dot .list14 li{line-height:24px;font-size:14px;text-align:left;padding:1px 0 1px 14px;
  background:url(http://images.sohu.com/uiue/dot.gif) no-repeat 0 0;}
.pre_dot .list12 li{line-height:20px;font-size:12px;text-align:left;padding:1px 0 1px 12px;
  background:url(http://images.sohu.com/uiue/dot.gif) no-repeat -1px -1px;}

/* 图文-标题 */
.pt h4{font-weight:bold;line-height:26px;}
/* 图文-图在右 */
.pt_r div{float:right;margin:0 0 0 10px;}
/* 图文-图在上 */
.pt_t div{float:none;margin:0 0 10px 0;}
/* 标题 */
.h1{font-family:'黑体';font-size:18px;line-height:34px;}

.vspace{position:relative;font-size:0;line-height:0;height:10px;}
.vspace hr{position:absolute;top:49.9%;padding:0;margin:0 auto;border:1px dotted #808080;}
/*元素样式*/
.elm{position:relative;}
.elmimg{position:relative;z-index:10;}


		
