/* 可视化专题弹框样式 */
/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
.jqmWindow {display: none;position: fixed;top: 17%;left: 50%;margin-left: -300px;border: 1px solid #000;background:#F0F0EE;}
.jqmOverlay { background-color: #ccc; }
/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;width: expression(this.parentNode.offsetWidth+'px');height: expression(this.parentNode.offsetHeight+'px');}
/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {position: absolute;top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');}
/* 标题 */
.jqmWindow .vstp_hd{position:relative;height: 14px;border-bottom:1px solid #666;text-align:left;padding:3px 5px 2px 9px;color:#F0F0EE;background:url(../images/titlebg.jpg) repeat-x;line-height:normal;}
.jqmWindow .vstp_title{font-weight:bold; vertical-align:middle; }
.jqmWindow .vstp_draghdl{position:absolute;display:block;top:3px;left:50%;margin-left:-7.5px;width:15px;height:14px;background: url(../images/jqtitlebg.jpg);cursor:move;}
/* 右上角关闭 */
.jqmWindow .vstp_hd .jqmClose{position:absolute;display:block;background: url(../images/close.jpg) no-repeat top; width:15px; height:13px;top:3px;right:5px;vertical-align:middle;}
.jqmWindow .vstp_hd .jqmClose:hover{background-position: bottom;}
/* 按钮栏 */
.jqmWindow .vstp_btnWrap{height:25px;margin:10px auto;width:105px;}
.jqmWindow .vstp_btn {display:block;width: 45px;height: 24px;line-height:25px; background: url(../images/ybtn.gif) top;text-decoration:none;}
.jqmWindow .vstp_btn:hover{background-position:bottom;}
.jqmWindow .vstp_acts .vstp_btn{margin:0 auto;}
