/* 
 * 可视化专题通用css
 * @author levinhuang
 * @version 1.2010.0803
 * @desc 横切(area),分栏(sec),内容(ct),元素(elm) 
 */
.w182{width:182px;}
.w190{width:190px;}
.w210{width:210px;}
.w230{width:230px;}
.w250{width:250px;}
.w270{width:270px;}
.w310{width:310px;}
.w330{width:330px;}
.w390{width:390px;}
.w430{width:430px;}
.w470{width:470px;}
.w510{width:510px;}
.w670{width:670px;}
.w950{width:950px;}

/* 页面背景 */
.bodyBGA{position:absolute;top:0;left:0;z-index:-102;width:100%;}
.bodyBGB{position:absolute;bottom:0;left:0;z-index:-102;width:100%;}
/* 横切 */
.area .center{margin-left:10px;}

/* 分栏 */


/* 
 * 列表-参考“global.css”及“统一模板.html” 
 * 规则-分栏大于等于390的列表是14号字体，否则为12号字体
 */
.list ul{margin:0 auto;width:100%;}
.list li{padding:3px 0;color:#333;font-size:12px;line-height:16px;text-align:left;background:url(http://images.sohu.com/uiue/dot.gif) no-repeat;}
.w390 .list li,.w430 .list li,.w470 .list li,.w510 .list li,.w670 .list li,.w950 .list li{padding:4px 0;font-size:14px;background-position:0 -1px;padding-left:14px;} /* list14 */
.w182 .list li,.w190 .list li,.w210 .list li,.w230 .list li,.w250 .list li,.w270 .list li,.w310 .list li,.w330 .list li{font-size:12px;background-position:-1px -2px;padding-left:12px;} /* list12 */

/* 导航 */
.nav{text-align:center;font-size:14px;font-weight:bold;line-height:30px;}
.imgNav{line-height:normal;}
.imgNav li{float:left;display:inline;}
/* 栏目标题 */
h2 .more{font-weight:normal;}
h2 .more span{float:none;font-weight:normal;}
.w950 h2 span,.w670 h2 span,.w510 h2 span,.w470 h2 span,.w430 h2 span,.w390 h2 span{font-size:14px;}
.w330 h2 span,.w310 h2 span,.w270 h2 span,.w250 h2 span,.w230 h2 span,.w210 h2 span,.w190 h2 span,.w182 h2 span{font-size:12px;}
/*
.sec_hd,.hd{height:30px;padding:0 15px;line-height:30px;}
*/
/* 大标题 */
h1,.h1{font-family:'黑体';font-size:18px;line-height:34px;}
/* 文本 */
.sec_hd,.hd{zoom:1} /* 文本标题 */
.sec_hd:after,.hd:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
.txt p{line-height:24px;text-align:left;} /* 文本段落 */

/* 
 * 图片列表
 * 规则-最多6列 
 */
.pp li{float:left;display:inline;}
.pp li img,.sec .pp img.elm{border:1px solid #eeeeee;padding:2px;} /* 组图图片默认样式 */
.c1 li{width;100%;}
.c2 li{width:50%;}
.c3 li{width:33.3%;}
.c4 li{width:25%;}
.c5 li{width:20%;}
.c6 li{width:16.6%;}
/* 空行 */
.vspace{position:relative;font-size:0;line-height:0;height:10px;}
.vspace hr{position:absolute;top:49.9%;padding:0;margin:0 auto;height:1px;border:none;border-top:1px dotted #808080;}

