/* 
 * 可视化专题通用css
 * @author levinhuang
 * @version 1.2010.0803
 * @desc 横切(area),分栏(sec),内容(ct),元素(elm) 
 */
.vstp_w182{width:182px;}
.vstp_w190{width:190px;}
.vstp_w210{width:210px;}
.vstp_w230{width:230px;}
.vstp_w250{width:250px;}
.vstp_w270{width:270px;}
.vstp_w310{width:310px;}
.vstp_w330{width:330px;}
.vstp_w350{width:350px;}
.vstp_w390{width:390px;}
.vstp_w430{width:430px;}
.vstp_w470{width:470px;}
.vstp_w510{width:510px;}
.vstp_w670{width:670px;}
.vstp_w950{width:950px;}

/* 页面背景 */
.bodyBGA{position:absolute;top:0;left:0;z-index:-102;width:100%;}
.bodyBGB{position:absolute;bottom:0;left:0;z-index:-102;width:100%;}
/* 横切 */
.area .center{margin-left:10px;}

/* 分栏 */
.vstp_subsec{zoom:1;}
.vstp_subsec:after{content:'\20';display:block;clear:both;}

/* 
 * 列表-参考“global.css”及“统一模板.html” 
 * 规则-分栏大于等于390的列表是14号字体，否则为12号字体
 */
.vstp_list ul{margin:0 auto;width:100%;}
.vstp_list li{padding:3px 0;color:#333;font-size:12px;line-height:16px;text-align:left;background:url(http://images.sohu.com/uiue/dot.gif) no-repeat;}
.vstp_w390 .vstp_list li,.vstp_w430 .vstp_list li,.vstp_w470 .vstp_list li,.vstp_w510 .vstp_list li,.vstp_w670 .vstp_list li,.vstp_w950 .vstp_list li{padding:4px 0;font-size:14px;background-position:0 -1px;padding-left:14px;} /* list14 */
.vstp_w182 .vstp_list li,.vstp_w190 .vstp_list li,.vstp_w210 .vstp_list li,.vstp_w230 .vstp_list li,.vstp_w250 .vstp_list li,.vstp_w270 .vstp_list li,.vstp_w310 .vstp_list li,.vstp_w330 .vstp_list li{font-size:12px;background-position:-1px -2px;padding-left:12px;} /* list12 */

/* 导航 */
.vstp_nav{text-align:center;font-size:14px;font-weight:bold;line-height:30px;}
.vstp_nav12{font-size:12px;}
.vstp_imgNav{line-height:normal;}
.vstp_nav li{float:left;display:inline;}
/* 栏目标题 */
h2 .more{font-weight:normal;}
h2 .more span{float:none;font-weight:normal;font-size:12px;}
.vstp_w950 h2 span,.vstp_w670 h2 span,.vstp_w510 h2 span,.vstp_w470 h2 span,.vstp_w430 h2 span,.vstp_w390 h2 span{font-size:14px;}
.vstp_w330 h2 span,.vstp_w310 h2 span,.vstp_w270 h2 span,.vstp_w250 h2 span,.vstp_w230 h2 span,.vstp_w210 h2 span,.vstp_w190 h2 span,.vstp_w182 h2 span{font-size:12px;}
/* 大标题 */
h1,.vstp_h1{font-family:'黑体';font-size:18px;line-height:34px;}
/* 文本 */
.vstp_sec_hd{zoom:1} /* 文本标题 */
.vstp_sec_hd:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
.vstp_sec_hd{height:26px;line-height:26px;}/* 高26px */
.vstp_txt p{line-height:24px;text-align:left;font-size:12px;} /* 文本段落 */
.vstp_txt14 p{font-size:14px;}

/* 
 * 图片列表
 * 规则-最多6列 
 */
.pp li{float:left;display:inline;}
.pp li img,.sec .pp img.elm{border:1px solid #eeeeee;padding:2px;} /* 组图图片默认样式 */
.c1 li{width:100%;}
.c2 li{width:50%;}
.c3 li{width:33.3%;}
.c4 li{width:25%;}
.c5 li{width:20%;}
.c6 li{width:16.6%;}
/* 空行 */
.vstp_vspace{position:relative;font-size:0;line-height:0;height:10px;}
.vstp_vspace hr{position:absolute;top:49.9%;padding:0;margin:0 auto;height:1px;border:none;border-top:1px dotted #808080;}

