/* Styles for vsp.html */
body{background:#000;}
a{color:blue;}
/* JQuery UI Style */
.ui-button-text-only .ui-button-text{padding:0.2em 0.5em;color:#929292;font-size:0.9em;}
.ui-tabs .ui-tabs-nav li a{padding:0.3em 0.6em;}
.ui-tabs .ui-tabs-panel{padding:1em;}
/* /JQuery UI Style*/

#contentA{min-height:618px;height:auto !important;height:718px;background:#fff;padding-top:30px;}
#wVsp{min-width:465px;}
#wVsp .row{text-align:left;}
#wVsp .rowTitle,#wVsp .rowTxt{padding-top:4px;border-top:1px dashed #ccc;}
#wVsp .ui-widget-header{background:#eee;border:none;}
#wVsp .elmTpl label{width:42px;text-align:center;}
#wVsp .elmTpl input{width:245px;border-top:2px solid #C4C4C5;border-left:2px solid #C4C4C5;}
#wVsp .icons{width:94px;margin-left:5px;}
#wVsp .icons a{display:inline-block;border:1px solid #eee;text-decoration:none;}
#wVsp .icons span{display:block;font-weight:bold;font-size:0.9em;padding:0.2em 0.5em;}
#wVsp .color span{border-bottom:2px solid red;padding-bottom:0;}
#wVsp .icon{background:url("../images/pic01.jpg") no-repeat right center;}
#wVsp .icon span{padding-right:0.6em;}
#wVsp .icons1{width:34px;line-height:22px;}
#wVsp_acts{margin-bottom:10px;}
#wVsp_acts .hide{display:none;}
#wVsp_tab2 textarea{width:100%;height:180px;}

.jqmCT{display:none;}
.jqmWindow .jqmCT{display:block;}

/* ÀÈ∆¨ */
.flag{width:480px;margin:0 auto;text-align:left;padding:10px;border:1px solid #eee;}
.flag .ct{margin:20px 0;}
.flag .pp li{float:left;display:inline;width:70px;}
.flag .pp img{padding:1px;background:#fff;border:1px solid #ccc;}
