<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
		<title>视频新闻首页焦点图</title>
		<link type="text/css" rel="stylesheet" href="http://css.sohu.com/upload/global1.3.css" />
		<script type="text/javascript" src="http://js.sohu.com/library/jquery1.4.2.js"></script>
		<script type="text/javascript" src="../js/jquery.tmpl.min.js"></script> 
		<script type="text/javascript" src="../js/jquery.SOHUFocusImageCore.min.js"></script>
		<script type="text/javascript" src="jquery.vNewsSlide.min.js"></script> 
		<script type="text/javascript">
		//<![CDATA[
		jQuery.noConflict();
		//]]>
		</script>	
		<style type="text/css">
			
			.container{width:980px;margin:50px auto;}
			h1,h2{font-size:1.4em;font-weight:bold;padding:30px;text-align:left;}
			h2{font-size:1.2em;}
			
			.fi09{background:#e4e4e4;height:334px;text-align:left;}
			.fi09 a:focus{outline:none;}
			.fi09 .fi_ct{padding:12px;}
			.fi09 .l{width:718px;height:310px;overflow:hidden;}
			.fi09 .r{width:238px;height:310px;overflow:hidden;}
			.fi09 .fi_ct_{background:#fff;}
			.fi09 .fi_ct_ .right{width:410px;}
			.fi09 .fi_ct_ .left{width:308px;}	
			.fi09 .fi_player img{display:block;height:300px;width:400px;padding:5px;}
			.fi09 .fi_note_c{width:265px;padding:15px 0;margin-left:24px;}
			.fi09 .fi_tt{font-size:18px;font-weight:bold;text-indent:24px;background:url("images/pic20x20_1.gif") left top no-repeat;}
			.fi09 .l a,.fi09 .fi_now a{color:#003399;}
			.fi09 .l a:hover,.fi09 .fi_now a:hover{color:#cc0000;}
			.fi09 .fi_desc{margin-top:10px;line-height:20px;}
			.fi09 .fi_related{margin-top:18px;border-top:1px dotted #acacac;padding-top:12px;}
			.fi09 .fi_related_ct{margin-top:8px;}
			.fi09 .fi_related li{line-height:20px;padding-left:15px;background:url("images/pic11x11_1.gif") left center no-repeat;}
			/* right side */
			.fi09 .fi_tab li{padding:3px 10px 3px 24px;height:64px;margin-top:10px;}
			.fi09 .fi_tab li.fi_now{background:url("images/fi09_arrow.gif") 10px center no-repeat #fff;}
			.fi09 .fi_tab li.fi_top{margin-top:0;}
			.fi09 .fi_tab img{float:left;border:1px solid #bfc8d1;padding:1px;}
			.fi09 .fi_tab div{margin-left:92px;line-height:20px;word-wrap:break-word;padding:12px 0;}
		</style> 			
	</head>
	<body>
		<div id="header" class="container">
			<h1>1,搜狐-视频新闻首页焦点图-静态HTML版</h1>
		</div>
		<div id="contentA" class="container">
			<!--焦点图09-->
			<div id="vNews_Focus_01" class="fi09">
				<div class="fi_ct clear">
					<!--左侧新闻图文-开始-->
					<div class="l">
						<!--编辑区域1-开始-->
						<div class="fi_ct_ hidden clear">
							<div class="left">
								<div class="fi_note_c">
									<div class="fi_tt"><a href="#">阿富汗多次袭击交火致30多人死伤 战争路仍漫长1</a></div>
									<div class="fi_desc">
										来源：<a href="http://sohu.com" title="">东方卫视</a>
									</div>
									<div class="fi_desc">
										河北大学校园交通肇事案犯罪嫌疑人李启铭的父亲李刚接受采访，向受害人及家属表示诚恳道歉。保定公安网络发言人在微博上解释，发布此条道歉信息，旨在披露李刚对此事的态度
									</div>
									<div class="fi_related">
										<p class="fi_related_tt">相关新闻：</p>
										<ul class="fi_related_ct">
											<li><a href="#" title="">河北大学校园交通肇事案犯罪嫌疑人李启铭1</a></li>
											<li><a href="#" title="">河北大学校园交通肇事案犯罪嫌疑人李启铭2</a></li>
											<li><a href="#" title="">河北大学校园交通肇事案犯罪嫌疑人李启铭3</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="right">
								<a class="fi_player" href="#">
									<img src="images/pic80x60_1.gif" height="300" width="400" alt=""/>
								</a>
							</div>
						</div>
						<div class="fi_ct_ clear">
							<div class="left">
								<div class="fi_note_c">
									<div class="fi_tt"><a href="#">阿富汗多次袭击交火致30多人死伤 战争路仍漫长2</a></div>
									<div class="fi_desc">
										来源：<a href="http://sohu.com" title="">东方卫视</a>
									</div>
									<div class="fi_desc">
										河北大学校园交通肇事案犯罪嫌疑人李启铭的父亲李刚接受采访，向受害人及家属表示诚恳道歉。保定公安网络发言人在微博上解释，发布此条道歉信息，旨在披露李刚对此事的态度
									</div>
									<div class="fi_related">
										<p class="fi_related_tt">相关新闻：</p>
										<ul class="fi_related_ct">
											<li><a href="#" title="">河北大学校园交通肇事案犯罪嫌疑人李启铭1</a></li>
											<li><a href="#" title="">河北大学校园交通肇事案犯罪嫌疑人李启铭2</a></li>
											<li><a href="#" title="">河北大学校园交通肇事案犯罪嫌疑人李启铭3</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="right">
								<a class="fi_player" href="#">
									<img src="images/pic80x60_2.gif" height="300" width="400" alt=""/>
								</a>
							</div>
						</div>
						<div class="fi_ct_ hidden clear">
							<div class="left">
								<div class="fi_note_c">
									<div class="fi_tt"><a href="#">阿富汗多次袭击交火致30多人死伤 战争路仍漫长3</a></div>
									<div class="fi_desc">
										来源：<a href="http://sohu.com" title="">东方卫视</a>
									</div>
									<div class="fi_desc">
										河北大学校园交通肇事案犯罪嫌疑人李启铭的父亲李刚接受采访，向受害人及家属表示诚恳道歉。保定公安网络发言人在微博上解释，发布此条道歉信息，旨在披露李刚对此事的态度
									</div>
									<div class="fi_related">
										<p class="fi_related_tt">相关新闻：</p>
										<ul class="fi_related_ct">
											<li><a href="#" title="">河北大学校园交通肇事案犯罪嫌疑人李启铭1</a></li>
											<li><a href="#" title="">河北大学校园交通肇事案犯罪嫌疑人李启铭2</a></li>
											<li><a href="#" title="">河北大学校园交通肇事案犯罪嫌疑人李启铭3</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="right">
								<a class="fi_player" href="#">
									<img src="images/pic80x60_3.gif" height="300" width="400" alt=""/>
								</a>
							</div>
						</div>
						<div class="fi_ct_ hidden clear">
							<div class="left">
								<div class="fi_note_c">
									<div class="fi_tt"><a href="#">阿富汗多次袭击交火致30多人死伤 战争路仍漫长4</a></div>
									<div class="fi_desc">
										来源：<a href="http://sohu.com" title="">东方卫视</a>
									</div>
									<div class="fi_desc">
										河北大学校园交通肇事案犯罪嫌疑人李启铭的父亲李刚接受采访，向受害人及家属表示诚恳道歉。保定公安网络发言人在微博上解释，发布此条道歉信息，旨在披露李刚对此事的态度
									</div>
									<div class="fi_related">
										<p class="fi_related_tt">相关新闻：</p>
										<ul class="fi_related_ct">
											<li><a href="#" title="">河北大学校园交通肇事案犯罪嫌疑人李启铭1</a></li>
											<li><a href="#" title="">河北大学校园交通肇事案犯罪嫌疑人李启铭2</a></li>
											<li><a href="#" title="">河北大学校园交通肇事案犯罪嫌疑人李启铭3</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="right">
								<a class="fi_player" href="#">
									<img src="images/pic80x60_4.gif" height="300" width="400" alt=""/>
								</a>
							</div>
						</div>																		
						<!--编辑区域1-结束-->
					</div>
					<!--左侧新闻图文-结束-->
					
					<!--右侧小图TAB区域-开始-->
					<div class="r">
						<div class="fi_tab">
							<ul>
								<!--编辑区域1-开始-->
								<li class="fi_top">
									<a href="http://sohu.com"><img width="80" height="60" alt="" src="images/pic80x60_1.gif"/></a>
									<div>
										<a href="http://baidu.com">白俄罗斯美女被认定国宝 禁止出国1</a>
									</div>
								</li>
								<li class="fi_now">
									<a href="http://baidu.com"><img width="80" height="60" alt="" src="images/pic80x60_2.gif"/></a>
									<div>
										<a href="http://sohu.com">阿富汗多次袭击交火致30多人死伤2</a>
									</div>
								</li>
								<li>
									<a href="http://sina.com"><img width="80" height="60" alt="" src="images/pic80x60_3.gif"/></a>
									<div>
										<a href="http://sina.com">白俄罗斯美女被认定国宝 禁止出国4</a>
									</div>
								</li>
								<li>
									<a href="http://tom.com"><img width="80" height="60" alt="" src="images/pic80x60_4.gif"/></a>
									<div>
										<a href="http://tom.com">白俄罗斯美女被认定国宝 禁止出国4</a>
									</div>
								</li>
								<!--编辑区域1-结束-->																								
							</ul>
						</div>
					</div>
					<!--右侧小图TAB区域-结束-->
				</div>
			</div>
			<script type="text/javascript">
			//<![CDATA[
			    jQuery("#vNews_Focus_01").focusImg({ flag: "fi09", hoverStop: true,speed:6000,clickTabToNav:true});
			//]]>
			</script>
			<!--/焦点图09-->
		</div>
		
		<div class="container">
			<h2>2,搜狐-2010年10月版视频新闻首页焦点图-动态HTML版</h2>
		</div>
		<div id="contentB" class="container">
			<!--焦点图09-->
			<!--焦点图09模板-->
			<script id="fi09_tmpl" type="text/x-jquery-tmpl">
				<div class="fi_ct clear">
					<!--左侧新闻图文-开始-->
					<div class="l">
						<!--编辑区域1-开始-->
						{{each d}}
						<div class="fi_ct_ hidden clear">
							<div class="left">
								<div class="fi_note_c">
									<div class="fi_tt"><a href="${l}">${t}</a></div>
									<div class="fi_desc">来源：<a href="${src.l}" title="" target="_blank">${src.t}</a></div>
									<div class="fi_desc">${t1}</div>
									<div class="fi_related">
										<p class="fi_related_tt">相关新闻：</p>
										<ul class="fi_related_ct">
											{{each(i0,v0) rLinks}}
											<li><a href="${v0.l2}" title="" target="_blank">${v0.t2}</a></li>
											{{/each}}
										</ul>
									</div>
								</div>
							</div>
							<div class="right">
								<a class="fi_player" href="${l}" target="_blank">
									<img src="${p}" height="300" width="400" alt=""/>
								</a>
							</div>
						</div>								
						{{/each}}																
						<!--编辑区域1-结束-->
					</div>
					<!--左侧新闻图文-结束-->
					<!--右侧小图TAB区域-开始-->
					<div class="r">
						<div class="fi_tab">
							<ul>
								<!--编辑区域1-开始-->
								{{each d}}
								<li class="{{if $index==0}}fi_top{{else}}{{/if}}">
									<a href="${l}" target="_blank"><img width="80" height="60" alt="" src="${p1}"/></a>
									<div>
										<a href="${l}" target="_blank">${t_}</a>
									</div>
								</li>								
								{{/each}}
								<!--编辑区域1-结束-->																								
							</ul>
						</div>
					</div>
					<!--右侧小图TAB区域-结束-->
				</div>					
			</script>
			<!--/焦点图09模板-->
			<!--焦点图09主体-->
			<div id="vNews_Focus_02" class="fi09"></div>
			<!--/焦点图09主体-->
			<!--焦点图09数据-->
			<script type="text/javascript" src="sohu.MDCFocus_09.js"></script>
			<script type="text/javascript">
			//<![CDATA[
			jQuery("#vNews_Focus_02").focusImg({ flag: "fi09", hoverStop: true,speed:6000,clickTabToNav:true});
			//]]>
			</script>
			<!--/焦点图09数据-->
		 	<!--/焦点图09-->
		</div>
		<div class="container">
			<h2>3,搜狐-2010年10月版视频新闻首页焦点图-动态HTML简化版(大图小图一致,左右标题一致)</h2>
		</div>
		<div id="contentC" class="container">
			<!--焦点图09-->
			<!--焦点图09模板-->
			<script id="fi09_tmpl_01" type="text/x-jquery-tmpl">
				<div class="fi_ct clear">
					<!--左侧新闻图文-开始-->
					<div class="l">
						<!--编辑区域1-开始-->
						{{each d}}
						<div class="fi_ct_ hidden clear">
							<div class="left">
								<div class="fi_note_c">
									<div class="fi_tt"><a href="${l}">${t}</a></div>
									<div class="fi_desc">来源：<a href="${src.l}" title="" target="_blank">${src.t}</a></div>
									<div class="fi_desc">${t1}</div>
									<div class="fi_related">
										<p class="fi_related_tt">相关新闻：</p>
										<ul class="fi_related_ct">
											{{each(i0,v0) rLinks}}
											<li><a href="${v0.l2}" title="" target="_blank">${v0.t2}</a></li>
											{{/each}}
										</ul>
									</div>
								</div>
							</div>
							<div class="right">
								<a class="fi_player" href="${l}" target="_blank">
									<img src="${p}" height="300" width="400" alt=""/>
								</a>
							</div>
						</div>								
						{{/each}}																
						<!--编辑区域1-结束-->
					</div>
					<!--左侧新闻图文-结束-->
					<!--右侧小图TAB区域-开始-->
					<div class="r">
						<div class="fi_tab">
							<ul>
								<!--编辑区域1-开始-->
								{{each d}}
								<li class="{{if $index==0}}fi_top{{else}}{{/if}}">
									<a href="${l}" target="_blank"><img width="80" height="60" alt="" src="${p}"/></a>
									<div>
										<a href="${l}" target="_blank">${t}</a>
									</div>
								</li>								
								{{/each}}
								<!--编辑区域1-结束-->																								
							</ul>
						</div>
					</div>
					<!--右侧小图TAB区域-结束-->
				</div>					
			</script>
			<!--/焦点图09模板-->
			<!--焦点图09主体-->
			<div id="vNews_Focus_03" class="fi09"></div>
			<!--/焦点图09主体-->
			<!--焦点图09数据-->
			<script type="text/javascript" src="sohu.MDCFocus_09_01.js"></script>
			<script type="text/javascript">
			//<![CDATA[
			jQuery("#vNews_Focus_03").focusImg({ flag: "fi09", hoverStop: true,speed:6000,clickTabToNav:true});
			//]]>
			</script>
			<!--/焦点图09数据-->
		 	<!--/焦点图09-->
		</div>		
	</body>
</html>
